- testClass = ["passed", "failed"].include?(test.type) ? test.type : false
li.test class=testClass
  - if testClass == "passed"
    img src="/images/dynamic/hex/7ebf8a/ui/done.svg" alt=I18n.t("tests.alt-text.passed")
  - elsif testClass == "failed"
    img src="/images/dynamic/hex/ff0000/ui/failed.svg" alt=I18n.t("tests.alt-text.failed")
  span.type
    - if test.it
      | It
    - elsif test.scenario
      | Scenario:
    - else
      | Name:

  span.name<
    = test.header

  span.result
    = test.type

  span.time
    span.value
      = test.time.round(3)
    span.units<
      = I18n.t('units.short.seconds')
