- if !defined?(test_run)
  - test_run = nil

- content_for :title do
  | Test Results #{params[:tab] ? "[" + test_run.group(params[:tab].intern).header + "]" : "[Overall]"}

h1.test
  img.large-icon.test src="/images/dynamic/hex/#{current_theme.hexColorFor("header.general.icon")}/icons/ui/test.svg" 
  .name
    = I18n.t("tests.header")
.bar

- tabs_id = "test-panels"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

/ These are the test projects
- tabs = ["daemon", "client", "javascript"]

ul.card-tabs.tabs.centered role=:tablist data-panels=tabs_id data-push-navigation=true data-append-title=true data-replace-navigation=true

  / Overall test result page
  - active = params[:tab].nil? || params[:tab] == "overall"
  li.card-layout.tab class=(!active || "active") role=:presentation
    a href="/tests/overall" data-pjax=(active ? "complete" : "true") role=:tab aria-controls="#{tabs_id}-overall"
      = I18n.t("tests.overall")

  / Tab for each project
  - tabs.each do |testClass|
    - active = params[:tab] == testClass.to_s
    li.card-layout.tab class=(!active || "active") role=:presentation
      a href="/tests/#{testClass}" data-pjax=(active ? "complete" : "true") role=:tab aria-controls="#{tabs_id}-#{testClass}"
        = I18n.t("tests.testClass.#{testClass}")

.container
  ul.tab-panels id=tabs_id
    / The overall tab page
    - active = params[:tab].nil? || params[:tab] == "overall"
    li.card.filled.tab-panel id="#{tabs_id}-overall" class=(!active || "active")
      - if active
        == partial(:"tests/overview")
      - else
        .card.filled.loading

    / Render each landing page for the test suite for each project
    - tabs.each do |testClass|
      - active = params[:tab] == testClass.to_s
      li.tab-panel id="#{tabs_id}-#{testClass}" class=(!active || "active")
        - if active
          == partial(:"tests/project", :locals => {:test_run => test_run, :path => path})
        - else
          .card.filled.loading

== partial(:footer)
