/ This partial renders the sidebar area of the workflow run viewer.
/ The sidebar gives a list of running jobs for a particular node in the
/ workflow. This allows people to manage individual jobs and see any
/ running job's output terminal.

/ Locals: None

/ The arrow to collapse the sidebar
.jobs.sidebar.card.flex.filled.reveal.fixed aria-hidden="true" 
  / "Job Viewer"
  h2
    = I18n.t('job-viewer.header')

  .object-selected.disabled
    ul.connections.dummy
      li.connection.dummy.initial
        img.icon data-object-type="object" src=Occam::Object.iconURLFor(:object, :hex=>"ae85db") 
        span.type Select
        span.name an object
        ol.inputs.ports
        ol.outputs.ports
    .before
    .after

  nav.jobs.filled aria-labelledby="job-list-heading" 
    h2.sr-only#job-list-heading
      = I18n.t("headers.jobList")
    template.run-item.running.workflow-job
      li
        .before
        a href="#" 
          span.status
            .dot
            .dot
            .dot
          span.date
    ul.jobs.left.perfect-scrollbar
    .help.mock.jobs-help
      p.help-header
        img.icon role=:none src='/images/dynamic/hex/#{current_theme.hexColorFor("interface.help.border")}/icons/ui/info.svg'
      markdown:
        #{I18n.t 'help.jobViewer'}
      occam-workflow.workflow-widget-js.run.mock aria-hidden="true" 
        ul.connections.dummy
          li.connection.dummy.selected.viewing
            img.icon src=Occam::Object.iconURLFor("simulator") 
            span.type simulator
            span.name DRAMSim2
            ol.inputs.ports
              li.input.port data-index=0 
                .label
                  span.type application/json
                  span.name General Options
                ol.connections
              li.input.port data-index=1 
                .label
                  span.type trace
                  span.name Memory Trace
                ol.connections
            ol.outputs.ports
              li.output.port data-index=0 
                .label
                  span.type application/json
                  span.name Statistics
                ol.connections
