li.connection
  .row
    - klass = []
    - if connection['connections'].count > 1
      - klass << "many"
    - if connection['connections'].empty?
      - klass << "none"
    - if editable && ((object && object.described_inputs.any?) || (parent && parent.indirect_input_types.any?))
      - klass << "input"
    .cell class=klass 
      .edge.top
      .edge.bottom
      ul.connections
        - connection['connections'].each do |connection|
          == partial :"workflows/object", :locals => {:done_connections => done_connections, :running_connections => running_connections, :workset => workset, :workflow => workflow, :connection => connection, :object => connection['object_realized'], :experiment => experiment, :editable => editable, :parent => object}
        - if editable && ((object && object.described_inputs.any?) || (parent && parent.indirect_input_types.any?))
          li.connection.input
            .row
              .cell.none
                .edge.top
                .edge.bottom
                ul.connections
              .object.input
                .container.input.wide
                  .container-content.plus
                    form action=objectURL(experiment, "/connections" workset=workset object=experiment full=true) method=:post name=:add_connection 
                      input name=:connection_index type=:hidden value=connection['index'] 
                      input.object-type.expandable type=:text name=:object_type value="" autocomplete="off" 
                      input.object-name.expandable type=:text name=:object_name value="" autocomplete="off" 
                      input.object-id type=:hidden name=:object value="" 
                      input.object-revision type=:hidden name=:object_revision value="" 
                      input name=:run_order type=:hidden value=0 
                      ul.options
                        li
                          input.button name=:submit type=:submit value="Attach" 
                .edge.top
                .edge.bottom
                .edge.right
                .edge.left
    .object
      .container data-connection-index=connection['index'] class=((connection['object']['created'] ? "created" : " ") + (running_connections.include?(connection['index']) ? "running" : " ") + (done_connections.include?(connection['index']) ? "done" : " ")) 
        .label.type
          - if object
            #{object.object_type}
          - else
            #{connection['object']['type']}
        .label.name
          - if object && !object.name.blank?
            #{object.name}
          - else
            | generated
        .container-content.icon class=((object.nil? ? "" : object.object_type_safe)) 
          - if running_connections.include?(connection['index'])
            == partial(:spinner)
          - if editable && workset && workset.can_edit?(current_person)
            form action=objectURL(experiment, "/connections/#{connection['index']}" workset=workset object=experiment full=true) method=:post name=:remove_connection 
              input type=:hidden value='delete' name=:_method 
              input.delete type=:submit value="detach" 
          h3.type
            #{connection['object']['type']}
          - created = connection['object']['created']
          - if object
            h3.name
              - if !created
                a href="/objects/#{object.uid}/#{connection['object']['revision']}" 
                  #{object.name}
              - else
                #{object.name}
            h3.revision
              #{(connection['object']['revision'] || "")[0..6]}
            - if !created
              ul.outputs
                li
                  a.button href="/objects/#{object.uid}/#{connection['object']['revision']}/configurations" 
                    | Defaults
          - else
            h3.name
              #{connection['object']['name']}
        .label.type hidden=true 
          - if object
            #{object.object_type}
          - else
            #{connection['object']['type']}
        .label.name hidden=true 
          - if object && !object.name.blank?
            #{object.name}
          - else
            | generated
      .edge.top
      .edge.bottom
      .edge.left
      .edge.right
