- if not defined?(editable)
  - editable = false

ul.tabs.tab-bar.filled
  - if editable
    li.tab.sidebar.reveal data-sidebar-reveal=".sidebar.object-select"
      a href="#"
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        img src='/images/dynamic/hex/6aa3ae/object-add.svg'
        img.active src='/images/dynamic/hex/ffffff/object-add.svg'
    a.button.icon.save href="#" title="save" alt="save"
      img src=imageURL("save.svg", :hex => current_theme.hexColorFor("tabs.tertiary.inactive.icon"))
      img.hover src=imageURL("save.svg", :hex => current_theme.hexColorFor("tabs.tertiary.hover.icon"))
      img.disabled src=imageURL("save.svg", :hex => current_theme.hexColorFor("tabs.tertiary.disabled.icon"))
  li.tab.bubble.active
    a href="#"
      = experiment.contents.first.info[:name]
  li.tab.sidebar.reveal data-sidebar-reveal=".sidebar.configuration"
    a href="#"
      = I18n.t('navigation.runQueue')
      .arrow
      .arrow
      img src='/images/dynamic/hex/6aa3ae/ui/configuration-panel.svg'
      img.active src='/images/dynamic/hex/ffffff/ui/configuration-panel.svg'

occam-workflow.workflow-widget-js.card.transparent.container class=(editable ? "editable" : false) 
  - if editable
    == partial(:"workflows/sidebar", :locals => {})
    /= partial(:"workflows/workflow_sidebar", :locals => {})
  ul.connections.separator-resize
  == partial(:"workflows/configurations", :locals => {})

