/ This partial renders the workflow selection sidebar area of the workflow editor.
/ The sidebar gives better support for adding and editing sub-workflows to the main workflow.

/ Locals: None

/ The arrow to collapse the sidebar
.right.collapse.reveal

.right.sidebar hidden=true 
  .object-selection
    / "Select Workflow"
    h2
      = I18n.t('object-selection.selectWorkflow')
