- if !defined?(errors) || errors.nil?
  - errors = []

.card.filled.transparent.errors hidden=errors.empty?
  h2 #{I18n.t "subheaders.errors"}
  ul
    - errors.each do |error|
      li.error.shown
        = error
