.card.loading.filled.flex
  p.no-javascript aria-hidden="true"
    = I18n.t('loading.javaScriptRequired')

  p.loading-500 hidden=true aria-hidden="true"
    = I18n.t('loading.error')

  p.loading-400 hidden=true aria-hidden="true"
    = I18n.t('loading.notFound')
