script src="/js/jquery/jquery.min.js" 
script src="/js/perfect-scrollbar/perfect-scrollbar.min.js" 
script src="/js/showdown/showdown.min.js" 

/ Maybe we should lazy-load these
script type="text/javascript" src="/js/parsley/parsley.min.js" 
script type="text/javascript" src="/js/spectrum/spectrum.js" 
script type="text/javascript" src="/js/jscolor/jscolor.min.js" 
script type="text/javascript" src="/js/lightbox2-master/dist/js/lightbox.min.js" 

script type="text/javascript" src="/js/compiled-vendor.js"
script type="module" src="/js/occam.js"
script type="text/javascript" src="/js/compiled-occam.js" defer=true nomodule=true

- if false
  script src="https://togetherjs.com/togetherjs-min.js"

== yield_content :scripts
