.index
  .header
    img src="/images/logo_large_1280.png"
    img.w1600 src="/images/logo_large.svg"

    .video
      .screen
        img src="/images/yt_placeholder_16_9.png"
        .embed
          | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rdo8X9TlstU?autoplay=0&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  .resizer
    .resizer-content
      img src="/images/yt_placeholder_16_9.png"

  .markdown

  .markdown.main
    == markdown :"index/section_0_description"

    p
      | For more information about how to install, jump to the
      a< href="#installing" installation section below
      | .

  .markdown.divider
    h2
      | The Structure of Sustainability and Accountability

  .markdown.pillars
    p
      | For true software preservation and sustainability, including scientific accountability, our tooling
      |  needs to provide a strong, standard <strong>infrastructure</strong> supported by the <strong>community</strong>.
      |  Through this strong platform, we can <strong>educate</strong> the current and next generations
      |  how to construct and distribute better software, scientific artifacts, and research.
    ul
      li
        | Infrastructure
      li
        | Education
      li
        | Community

  .markdown.divider
    h2
      | At a Glance

  .markdown.facet-section
    ul.facets.grid
      li.facet
        a href="#software-curation"
          h3
            img src="/images/icons/ui/curation.svg"
            img.hover src="/images/dynamic/hex/ffffff/icons/ui/curation.svg"
            span
              | Software Curation
          p
            | A versioned package manager promoting long-term software preservation for art and science.
      li.facet
        a href="#build-compile-repeatability"
          h3
            img src="/images/icons/ui/build.svg"
            img.hover src="/images/dynamic/hex/ffffff/icons/ui/build.svg"
            span
              | Build/Compile Repeatability
          p
            | Software is archived with its code when available and can be rebuilt in a repeatable manner.
      li.facet
        a href="#preservation-adaptability"
          h3
            img src=Occam::Object.iconURLFor(:emulator)
            img.hover src=Occam::Object.iconURLFor(:emulator, :hex=>"ffffff")
            span
              | Adaptive Preservation
          p
            | Virtual Machines and/or Containers are generated on-the-fly based on adaptive knowledge.
      li.facet
        a href="#format-extensibility"
          h3
            img src=Occam::Object.iconURLFor(:library)
            img.hover src=Occam::Object.iconURLFor(:library, :hex=>"ffffff")
            span
              | Widgets and Data Extensibility
          p
            | Archived software can be associated with files or data and then used to view or edit.
      li.facet
        a href="#access-and-discoverability"
          h3
            img src="/images/dynamic/hex/2da0b7/icons/ui/search.svg"
            img.hover src="/images/dynamic/hex/ffffff/icons/ui/search.svg"
            span
              | Access and Discoverability
          p
            | Software metadata contains tags for the types of data it consumes which helps others discover the right tool for the job.
      li.facet
        a href="#workflows-and-composability"
          h3
            img src=Occam::Object.iconURLFor(:workflow)
            img.hover src=Occam::Object.iconURLFor(:workflow, :hex=>"ffffff")
            span
              | Workflows and Composability
          p
            | Multiple programs can be chained together in a visual editor for complex operations.

  .markdown.divider
    h2
      | Gallery

  == partial(:"index/gallery", :locals => {:images => [["/images/index/screens/Workflow_DRAMSim.jpg",
                                                         "Workflows allow for the composition of software and data."],
                                                       ["/images/index/screens/Workflow_Configure.jpg",
                                                         "Workflows allow software configuration and input parameters and option sweeping when deploying workloads."],
                                                      ["/images/index/screens/Plotly_Graph.jpg",
                                                         "Widgets can be added by anyone to render data in different ways which are not actually part of Occam itself. Here, a Plotly widget gives us an interactive plot."],
                                                      ["/images/index/screens/DRAMSim2_Editing_Ace.png",
                                                         "You can edit files and code within each object and compile them without using a terminal, but rather by using editing widgets, such as this text editor."],
                                                      ["/images/index/screens/Jupyter_Notebook.jpg",
                                                         "We handle the preservation and execution of server applications such as JupyterLab in order to preserve Python-based Jupyter Notebooks."],
                                                      ["/images/index/screens/WordStar_Doc_File.jpg",
                                                         "There is support for running obsolete applications in JavaScript emulators to allow for exploration of older data. How long until we need such a technique for data we regularly use today?"],
                                                      ["/images/index/screens/Volume_PDF.jpg",
                                                         "This PDF viewer is yet another widget. This PDF.js software is an archived object itself. The Occam system does not have this functionality built in, meaning anybody can add support for other formats at any time."],
                                                      ["/images/index/screens/WAD_Viewer.png",
                                                        "Some widgets may offer new ways of interacting with content. You could play this [Doom level](https://occam.software/QmTet9YcGvWG5x3jgXZKTwNARcxmC3KBo5cTZtLbhvTtVT/5drU9FRNb5R4NMrm19cP6EJaMHGLGE), but you can also just view it with a JavaScript viewer."],
                                                      ["/images/index/screens/Minecraft_Skin.jpg",
                                                         "This is an example of the power of widgets being associated as a viewer. This Minecraft skin viewer widget has associated itself with certain tagged images, which otherwise are just normal PNG files."],
                                                      ["/images/index/screens/ZZT_Death_Gate.jpg",
                                                        "Interactive art is not left out as well. Here, [a community created level pack](https://occam.software/QmTQJi1pQ3ucT17mUqJiQJtd8zuieYRuZiH4e7chnaBxT7/5dtogkHbmcVga7R2YmXi8uRxzPA8BT) for the game ZZT can be played by creating a virtual machine with several objects: an emulator, [ZZT itself](https://occam.software/QmRLQUZ3yiXivEBQv3Rv6YGsPJJzexQNekerd2epP8iW93/5dt7Ud3NoG8GCSQovo5JRT8Ra2dK3E), and the level pack. This is determined automatically."]],
                                           :id     => "main-occam-gallery"})

  .markdown.divider
    h2
      | More Specifically...

  .nav-section
    nav.facets
      ul.navigation.facets
        li.navigation.facet
          a href="#software-curation"
            img src="/images/icons/ui/curation.svg"
            img.active src="/images/dynamic/hex/d280e0/icons/ui/curation.svg"
            img.hover src="/images/dynamic/hex/ffffff/icons/ui/curation.svg"
            span
              | Software Curation
        li.navigation.facet
          a href="#build-compile-repeatability"
            img src="/images/icons/ui/build.svg"
            img.active src="/images/dynamic/hex/d280e0/icons/ui/build.svg"
            img.hover src="/images/dynamic/hex/ffffff/icons/ui/build.svg"
            span
              | Build/Compile Repeatability
        li.navigation.facet
          a href="#preservation-adaptability"
            img src=Occam::Object.iconURLFor(:emulator)
            img.active src=Occam::Object.iconURLFor(:emulator, :hex=>"d280e0")
            img.hover src=Occam::Object.iconURLFor(:emulator, :hex=>"ffffff")
            span
              | Adaptive Preservation
        li.navigation.facet
          a href="#format-extensibility"
            img src=Occam::Object.iconURLFor(:library)
            img.active src=Occam::Object.iconURLFor(:library, :hex=>"d280e0")
            img.hover src=Occam::Object.iconURLFor(:library, :hex=>"ffffff")
            span
              | Widgets and Data Extensibility
        li.navigation.facet
          a href="#access-and-discoverability"
            img src="/images/dynamic/hex/2da0b7/icons/ui/search.svg"
            img.active src="/images/dynamic/hex/d280e0/icons/ui/search.svg"
            img.hover src="/images/dynamic/hex/ffffff/icons/ui/search.svg"
            span
              | Access and Discoverability
        li.navigation.facet
          a href="#workflows-and-composability"
            img src=Occam::Object.iconURLFor(:workflow)
            img.active src=Occam::Object.iconURLFor(:workflow, :hex=>"d280e0")
            img.hover src=Occam::Object.iconURLFor(:workflow, :hex=>"ffffff")
            span
              | Workflows and Composability
        .rest

    .markdown.object_curation.section#software-curation
      h2
        | Software Curation

    .markdown.object_curation.section
      == markdown :"index/section_object_curation"

    == partial(:"index/gallery", :locals => {:images => [ ["/images/index/screens/Jupyter_Notebook_Inline.png",
                                                           "Interactive Lab Notebooks, such as Jupyter, fit right in. Occam can preserve them by preserving the ability to run Jupyter Hub, and run a Jupyter web service on the server that can be loaded within the Occam website."],
                                                          ["/images/index/screens/Jupyter_Notebook_Details.png",
                                                            "Taking a deeper look at this notebook, we see what metadata is preserved. This includes the dependencies required by this notebook."],
                                                          ["/images/index/screens/Jupyter_Notebook_Dependency.png",
                                                            "Looking at one particular dependency, matplotlib, which is stored as its own separate object within the system. Others can use this without duplication."],
                                                          ["/images/index/screens/Jupyter_Notebook_Files.png",
                                                            "Within any curated object, you can view the file listing. You can open or view any individual file with any software resource on the system. The Ace editor, in this case."],
                                                          ["/images/index/screens/Jupyter_Notebook_History.png",
                                                            "All objects are versioned. You can investigate the history of any object and, to answer Cher, you certainly can \"turn back time\" and view an object at an earlier point."],
                                                          ["/images/index/screens/Jupyter_Notebook_Run.png",
                                                            "At the end of the day, what we do is make sure things run. Here is another view of the notebook being viewed in the browser. The JupyterLab server software is being executed on the backend."]],
                                             :id     => "object-curation"})


    .markdown.object_curation.section
      == markdown :"index/section_object_curation_description"

    .markdown.object_build.section#build-compile-repeatability
      h2
        | Build/Compile Repeatability

    .markdown.object_build.section
      == markdown :"index/section_object_build"

    == partial(:"index/gallery", :locals => {:images => [ ["/images/index/screens/DRAMSim2_Build_Log.png",
                                                           "Here, we can see the log that was recorded when this simulator was built. We can also look at other previous builds. We can ask ourselves, was there any deviation?"],
                                                          ["/images/index/screens/DRAMSim2_Build_Task.png",
                                                           "Similarly, we can see the provenance of the built software by investigating the contents of the Virtual Machine that was historically used to build it. We can ask, was anything used that has a known problem?"] ],
                                             :id     => "object-build"})

    .markdown.object_build.section
      == markdown :"index/section_object_build_description"

    .markdown.preservation-adaptability.section#preservation-adaptability
      h2
        | Adaptive Preservation

    .markdown.preservation-adaptability.section
      == markdown :"index/section_preservation_adaptability"

    == partial(:"index/gallery", :locals => {:images => [ ["/images/index/screens/Jupyter_Notebook_Inline.png",
                                                           "Interactive Lab Notebooks, such as Jupyter, fit right in. Occam can preserve them by preserving the ability to run Jupyter Hub, and run a Jupyter web service on the server that can be loaded within the Occam website."],
                                                          ["/images/index/screens/WAD_Viewer.png",
                                                            "With the WAD viewer, even if you cannot run Doom (which is unlikely, honestly!) you can view [the level](https://occam.software/QmTet9YcGvWG5x3jgXZKTwNARcxmC3KBo5cTZtLbhvTtVT/5drU9FRNb5R4NMrm19cP6EJaMHGLGE) in another widget. Perhaps somebody adds a level editor eventually?"],
                                                          ["/images/index/screens/ZZT_Death_Gate.jpg",
                                                            "Interactive art is not left out as well. Here, [a community created level pack](https://occam.software/QmTQJi1pQ3ucT17mUqJiQJtd8zuieYRuZiH4e7chnaBxT7/5dtogkHbmcVga7R2YmXi8uRxzPA8BT) for the game ZZT can be played by creating a virtual machine with several objects: an emulator, [ZZT itself](https://occam.software/QmRLQUZ3yiXivEBQv3Rv6YGsPJJzexQNekerd2epP8iW93/5dt7Ud3NoG8GCSQovo5JRT8Ra2dK3E), and the level pack. This is determined automatically."]],
                                             :id     => "preservation-adaptability"})

    .markdown.preservation-adaptability.section
      == markdown :"index/section_preservation_adaptability_description"

    .markdown.format-extensibility.section#format-extensibility
      h2
        | Widgets and Data Extensibility

    .markdown.format-extensibility.section
      == markdown :"index/section_format_extensibility"

    == partial(:"index/gallery", :locals => {:images => [ ["/images/index/screens/Tetrad_Graph_Widget.jpg",
                                                           "This is a graph widget for a specialized graph format from a mostly bespoke tool. This widget only took around an hour to develop."],
                                                         ["/images/index/screens/Plotly_Graph.jpg",
                                                           "Widgets can be added by anyone to render data in different ways which are not actually part of Occam itself. Here, a Plotly widget gives us an interactive plot."],
                                                         ["/images/index/screens/Volume_PDF.jpg",
                                                           "This PDF viewer is yet another widget. This PDF.js software is an archived object itself. The Occam system does not have this functionality built in, meaning anybody can add support for other formats at any time."],
                                                         ["/images/index/screens/DRAMSim2_Editing_Ace.png",
                                                           "You can also add 'editing' widgets. The most generic of which is the Ace Editor widget, which is associated with text files. Of course, you can associate any widget as an editor. Do you want to edit your code with WordStar? To each their own!"],
                                                         ["/images/index/screens/Minecraft_Skin.jpg",
                                                           "This is an example of the power of widgets being associated as a viewer. This Minecraft skin viewer widget has associated itself with certain tagged images, which otherwise are just normal PNG files."],
                                                         ["/images/index/screens/Minecraft_Skin_File.jpg",
                                                           "Of course, we can open any image file, even if it is untagged, with any widget we should choose. Here we can open the Occam logo in the Minecraft skin viewer. It kind of works! It's all about reuse. It's all about exploration."]],
                                             :id     => "format-extensibility"})

    .markdown.format-extensibility.section
      == markdown :"index/section_format_extensibility_description"

    .markdown.access-and-discoverability.section#access-and-discoverability
      == markdown :"index/section_access_and_discoverability"

    .markdown.access-and-discoverability.section
      == markdown :"index/section_access_and_discoverability_description"

    .markdown.workflow_design.section#workflows-and-composability
      h2
        | Workflows and Composability

    .markdown.workflow_design.section
      == markdown :"index/section_workflow_design"

    == partial(:"index/gallery", :locals => {:images => [["/images/index/screens/Workflow_DRAMSim.jpg",
                                                          "Workflows allow for the composition of software and data. Here we have several different traces being consumed by DRAMSim2, a DRAM memory simulator, aggregating into a script that generates our plot."],
                                                        ["/images/index/screens/Provenance_Graph_Workflow.jpg",
                                                          "Each node in a workflow represents some piece of data or executable software. Each can provide a schema to generate a configuration form. This lets people interact with input parameters in a manner which is the same for every object."],
                                                        ["/images/index/screens/Provenance_Graph_Origin.jpg",
                                                          "Upon running the workflow, you are treated to a view where you can see each node as it runs and inspect the runtime log for any currently running software. You can also interact with prior runs."],
                                                        ["/images/index/screens/Provenance_Graph.jpg",
                                                          "Your workflow may generate many different types of artifacts. In this case, our script generated a plot. We are using a widget to view that plot called plotly.js."],
                                                        ["/images/index/screens/Provenance_Graph_Details.jpg",
                                                          "When you look at the metadata for this plot, you will find a link back to both our bespoke script that generated the plot from the data, and the overall experiment that holds the workflow itself. All generated output contains information about its provenance and origin."]],
                                             :id     => "workflows-and-composability"})

    .markdown.workflow_design.section
      == markdown :"index/section_workflow_design_description"

  .markdown.installing.section#installing
    h2
      | Installing Your Own Occam Instance

  .markdown.installing.section
    == markdown :"index/section_installing"

  .markdown.sponsors.section
    == markdown :"index/section_sponsors"

  .markdown.sponsors.section
    == markdown :"index/section_sponsors_description"

  == partial :footer
