doctype html
html lang="en-US" 
  head
    == partial(:head, :locals => {:object => defined?(object) ? object : nil})
    title
      - if defined?(object) && object
        = "#{object.info[:name]} [#{object.info[:type]}] "
        | - Occam
      - elsif defined?(person) && person
        = "#{person.info[:name]} "
        | - Occam
      - else
        | Occam
  body.no-javascript class=current_layout.view.to_s
    == partial(:topbar, :locals => {:object => defined?(object) ? object : nil})
    ul.flash hidden=(request.path == "/about")
      template.error
        li.flash.error
          img src=imageURL("icons/error.svg", :hex => current_theme.hexColorFor("base.error.color"))
          p.message
            | error-message
      template.success
        li.flash.success
          img src=imageURL("ui/done.svg", :hex => current_theme.hexColorFor("base.processing.color"))
          p.message
            | success-message
      template.saving
        li.flash.saving
          img src=imageURL("icons/objects/floppy.small.svg", :hex => current_theme.hexColorFor("base.processing.color"))
          p.message
            | saving-message
      template.warning
        li.flash.warning
          img src=imageURL("ui/failed.svg", :hex => current_theme.hexColorFor("base.warning.color"))
          p.message
            | warning-message
    .content class=(defined?(content) ? "" : "flex")
      == yield
    .modal-window aria-role="dialog" role="dialog" tabindex="-1" aria-labeledby="modalLabel" 
      .loading
      .content.flex
      .close
    == partial(:scripts)
