/ This is the minimal layout for when a no-UI interface is requested

doctype html
html lang="en-US" 
  head
    == partial(:head, :locals => {:object => defined?(object) ? object : nil})
    title
      - if defined?(object) && object
        = "#{object.info[:name]} [#{object.info[:type]}] "
        | - OCCAM
      - else
        | OCCAM
  body class=current_layout.view 
    .content class=(defined?(content) ? "" : "flex")
      == yield
    .modal-window aria-role="dialog" role="dialog" tabindex="-1" aria-labeledby="modalLabel" 
      .loading
      .content.flex
      .close
    == partial(:scripts)
