.object-list {
  display: table;
  margin: 10px 20px;
  margin-bottom: 0;
  text-align: left;

  > li.object {
    display: table-row;

    > * {
      vertical-align: middle;
      display: table-cell;
      padding-left: 0.7rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font: 300 0.9rem "Lato", sans-serif;
      position: relative;

      button {
        cursor: pointer;
        border: 1px solid #c7c7c7;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #96cfdb;
        overflow: hidden;
        text-indent: -9999px;
        padding: 0;
        margin: 0;
        vertical-align: middle;

        img {
          width: 1rem;
          height: 1rem;
          position: absolute;
          left: 0.95rem;
          top: 0.5rem;
        }

        &:hover {
          background-color: #2da0b7;
        }
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  img.icon {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }

  h2 {
    padding-left: 10px;
  }

  h2.name {
    width: 100%;
  }
}
