/**
 * Loading graphic styling.
 */

.loading {
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10%;

  &.error-500,
  &.error-400 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(.error-500):not(.error-400) {
    background-image: url('/images/indicators/object.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10%;
  }

  &.failed {
    background-image: url('/images/indicators/object-failed.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10%;
  }

  &.white {
    background-image: url('/images/dynamic/hex/ffffff/indicators/object.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10%;
  }

  &.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

  &.transparent {
    background-color: transparent;
  }
}

input.loading {
  &:not(.error-500):not(.error-400) {
    background-size: 6%;
  }
}
