.task-pane {
  margin: auto;
  width: 100%;
  max-width: 50rem;
  z-index: 9;
}

.run-form {
  .loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

.task-form {
  width: 100%;
  display: table;

  .task-form-row {
    display: table-row;

    .task-form-header.label {
      width: 1px;
      display: table-cell;
      padding: 0.5rem;
      padding-left: 1rem;
      vertical-align: middle;
      text-align: right;

      h3 {
        text-align: right;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        font: normal 1.5rem "Alegreya Sans SC", sans-serif;
        background: transparent;
        color: #fff;

        &.break {
          white-space: normal;
        }

        .info {
          display: inline-block;
          text-align: right;

          img {
            position: relative;
            vertical-align: bottom;
	    bottom: 0.125rem;
            width: 1rem;
            height: 1rem;
            margin-left: 0.5rem;
            z-index: 9;
          }

          span.environment {
            display: block;
            font: normal 1.1rem "Alegreya Sans SC", sans-serif;
          }

          span.architecture {
            display: block;
            font: normal 1.1rem "Alegreya Sans SC", sans-serif;
          }
        }
      }
    }

    .task-form-cell.settings {
      padding: 0.5rem;
      text-align: right;

      label.slider-checkbox {
        color: white;
        font: 300 0.9rem "Lato", sans-serif;
        line-height: 1.25rem;
      }
    }

    .task-form-cell.task-form-item {
      position: relative;
      padding: 0.5rem;
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Safari */
      -khtml-user-select: none;    /* Konqueror HTML */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */

      .task-form-dispatch,
      .task-form-object {
        position: relative;
        border: 2px solid magenta;
        padding: 1rem 0.5rem;
        min-height: 6rem;
        box-sizing: border-box;

        img.icon {
          position: relative;
          width: 3.25rem;
          height: 3.25rem;
          vertical-align: middle;
          padding-right: 1rem;
          z-index: 9;
          padding-top: 0.325rem;
          padding-bottom: 0.325rem;
        }

        span.name {
          font: $header-font;
          color: #eee;
          position: relative;
          z-index: 9;
	  vertical-align: middle;
        }

        .info {
          vertical-align: middle;
          text-align: left;
          display: inline-block;

          span.type {
            display: block;
            font: $object-type-font;
            color: #eee;
            position: relative;
            z-index: 9;
          }

          span.name {
            display: block;
            font: $header-font;
            color: #eee;
            position: relative;
            z-index: 9;
          }
        }

        .info.path-info {
          margin-left: 1rem;

          img.arrow {
            height: 3rem;
            margin-right: 1rem;
            vertical-align: middle;
          }

          span.path {
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: #333;
            font: 300 1.1rem "Lato", sans-serif;
            background-color: magenta;
          }
        }

        .task-form-query {
          cursor: default;
          overflow: hidden;
          height: auto;
          transition: height 0.3s;
          position: relative;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          background-color: blue;

          .selector {
            margin-top: 1rem;
          }

	  .objects-container {
            width: calc(100% - 1rem);
	    border: 1px solid #eee;
	    box-sizing: border-box;

	    ul.objects.list {
              border-bottom: none;
	    }
	  }

          h4 {
            font: 300 1.2rem "Lato", sans-serif;
          }

          &.reveal {
            height: 0 !important;
          }

          > *:first-child {
            margin-top: 1.5rem;
          }

          > *:last-child {
            margin-bottom: 0.5rem;
          }

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0.5rem;
            width: 100%;
            border: 1px solid magenta;
            box-sizing: border-box;
            transition: background-color 0.3s;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid magenta;
            height: 0.5rem;
          }

          button.collapse {
            display: inline-block;
            overflow: hidden;
            text-indent: -9999px;
            width: 2rem;
            height: 2rem;
            margin-top: 0.5rem;
            border-radius: 1rem;
            cursor: pointer;
            border: none;
            background-color: #eee;
            position: relative;

            img {
              position: absolute;
              width: 1rem;
              height: 1rem;
              top: 0.5rem;
              left: 0.5rem;
            }

            &:first-child {
              margin-top: 1rem;
            }
          }
        }

        &.loading {
          background-image: url('/images/dynamic/hex/eeeeee/indicators/object.svg');
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 10%;

          img.icon {
            display: none;
          }

          .info {
            span.type,
            span.name,
            p {
              display: none;
            }
          }

          .task-form-query {
            display: none;
          }
        }
      }

      .task-form-object {
        &::before {
          content: "";
          width: 1rem;
          height: 1rem;
          left: calc(50% - 0.5rem - 2px);
          bottom: calc(-0.5rem - 3px);
          position: absolute;
          transform: rotate(45deg);
          background-color: blue;
          border: 2px solid magenta;
          border-top: none;
          border-left: none;
        }

        &::after {
          content: "";
          width: 0;
          height: 0;
          left: calc(50% - 0.375rem - 1px);
          bottom: -0.375rem;
          position: absolute;
          border-top: 0.375rem solid magenta;
          border-left: 0.375rem solid transparent;
          border-right: 0.375rem solid transparent;
        }
      }

      // I hate this, too
      &.active {
        &::before,
        &::after {
          transition: background-color 0.3s;
        }

        .task-form-object,
        .task-form-dispatch {
          transition: background-color 0.3s;

          &::before {
            transition: background-color 0.3s;
          }

          &::after {
            transition: background-color 0.3s;
          }

          .task-form-query {
            &::after {
              transition: background-color 0.3s;
            }
          }

          .info::before,
          .info::after {
            transition: background-color 0.3s;
          }
        }
      }

      &:hover:not(.active) {
        &::before,
        &::after {
          transition: background-color 0.3s;
        }

        .task-form-object,
        .task-form-dispatch {
          transition: background-color 0.3s;

          &::before {
            transition: background-color 0.3s;
          }

          &::after {
            transition: background-color 0.3s;
          }

          .task-form-query {
            &::after {
              transition: background-color 0.3s;
            }
          }

          .info::before,
          .info::after {
            transition: background-color 0.3s;
          }
        }
      }
    }

    .task-form-cell.viewing-object + .task-form-header.label.running-object,
    .task-form-header.label.supplemental-object {
      padding-bottom: 1rem;
    }

    .task-form-cell.task-form-item {
      padding-top: 1rem;

      .task-form-inner-cell {
        border-top: none;
        padding-top: 0;
        min-height: 5rem;

        .info::before {
          content: "";
          position: absolute;
          left: calc(50% - 2rem + 2px);
          top: calc(-0.75rem + 1px);
          width: 1.5rem;
          height: 1.5rem;
          background-color: #848484;
          border-top: 2px solid magenta;
          transform: rotate(45deg);
        }

        .info::after {
          content: "";
          position: absolute;
          right: calc(50% - 2rem + 3px);
          top: calc(-0.75rem + 2px);
          width: 1.5rem;
          height: 1.5rem;
          background-color: blue;
          border-left: 2px solid magenta;
          transform: rotate(45deg);
        }
      }

      &::before {
        content: "";
        background-color: blue;
        border: 2px solid magenta;
        border-bottom: none;
        border-left: none;
        right: 0.5rem;
        top: 0;
        width: calc(50% - 1.75rem + 2px);
        height: 1rem;
        position: absolute;
        display: block;
      }

      &::after {
        content: "";
        background-color: blue;
        border: 2px solid magenta;
        border-bottom: none;
        border-right: none;
        left: 0.5rem;
        top: 0;
        width: calc(50% - 1.75rem);
        height: 1rem;
        position: absolute;
        display: block;
      }
    }

    &.settings {
      + .task-form-row {
        .task-form-cell {
          padding-top: 0;

          &::before,
          &::after {
            display: none;
          }

          .task-form-inner-cell {
            padding-top: 1rem;
            border-top: 2px solid magenta;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;

            .info {
              &::before,
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    &:last-child {
      .task-form-cell:last-child {
        padding: 0.5rem;
        padding-top: 0;

        .submit {
          border: 2px solid magenta;
          padding: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;

          input.button {
            margin: 0;
            width: 10rem;
          }
        }
      }
    }
  }

  @media #{$media-phone} {
    display: block;

    .task-form-row {
      display: block;

      .task-form-header,
      .task-form-header.label {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;

        h3 {
          text-align: left;
          position: relative;
          padding-left: 0.5rem;
          font: normal 1.1rem "Alegreya Sans SC", sans-serif;

          .info {
            position: absolute;
            right: 0;
            top: 0;

            span.environment,
            span.architecture {
              display: inline-block;
            }

            span + span {
              padding-left: 0.5rem;
            }
          }
        }
      }

      .task-form-cell,
      .task-form-cell.task-form-item {
        display: block;
        padding-bottom: 0;
        padding-top: 0;

        &::before,
        &::after {
          content: none;
        }

        .task-form-inner-cell {
          border-top: 2px solid magenta;
          padding-top: 1rem;

          .info {
            &::before,
            &::after {
              content: none;
            }
          }
        }
      }

      &.supplemental-object,
      &.viewing-object + .running-object {
        .task-form-header.label {
          padding-bottom: 0;
        }
      }

      &.submit {
        padding-top: 0.5rem;
      }
    }
  }
}
