h1.code-documentation
  img.large-icon.code-documentation src="/images/dynamic/hex/#{current_theme.hexColorFor("header.general.icon")}/icons/ui/documentation.svg"
  .name
    | Code Documentation
  .organization
    | Interactive Guide to the Occam Codebase
.bar

ul.card-tabs.tabs role=:tablist data-panels="code-documentation-panels" data-push-navigation=!request.xhr? data-append-title=!request.xhr?
  - active = params[:tab].nil?
  li.card-current_layout.tab class=(active ? "active" : "") role=:presentation
    a href="/code-documentation/daemon" role=:tab data-pjax=(active ? "complete" : "true") aria-controls="code-documentation-tab-panel-daemon" aria-selected=active.to_s
      | Daemon
  - active = current_layout.tab == "api"
  li.card-current_layout.tab class=(active ? "active" : "") role=:presentation
    a href="/code-documentation/api" role=:tab data-pjax=(active ? "complete" : "true") aria-controls="code-documentation-tab-panel-api" aria-selected=active.to_s
      | API
  - active = current_layout.tab == "web"
  li.card-current_layout.tab class=(active ? "active" : "") role=:presentation
    a href="/code-documentation/web" role=:tab data-pjax=(active ? "complete" : "true") aria-controls="code-documentation-tab-panel-web" aria-selected=active.to_s
      | Web
  - active = current_layout.tab == "css"
  li.card-current_layout.tab class=(active ? "active" : "") role=:presentation
    a href="/code-documentation/css" role=:tab data-pjax=(active ? "complete" : "true") aria-controls="code-documentation-tab-panel-css" aria-selected=active.to_s
      | CSS
  - active = current_layout.tab == "javascript"
  li.card-current_layout.tab class=(active ? "active" : "") role=:presentation
    a href="/code-documentation/javascript" role=:tab data-pjax=(active ? "complete" : "true") aria-controls="code-documentation-tab-panel-javascript" aria-selected=active.to_s
      | JavaScript

.container.card.flex.filled
  ul.tab-panels#code-documentation-panels
    - active = current_layout.tab == "daemon" || current_layout.tab.nil?
    li.tab-panel#code-documentation-tab-panel-daemon class=((active ? "active": ""))
      - if active
        == partial(:"code-documentation/daemon", :locals => {:current_layout => current_layout})
      - else
        .card.filled.loading
    - active = current_layout.tab == "api"
    li.tab-panel#code-documentation-tab-panel-api class=((active ? "active": ""))
      - if active
        == partial(:"code-documentation/api", :locals => {:current_layout => current_layout})
      - else
        .card.filled.loading
    - active = current_layout.tab == "web"
    li.tab-panel#code-documentation-tab-panel-web class=((active ? "active": ""))
      - if active
        == partial(:"code-documentation/web", :locals => {:current_layout => current_layout})
      - else
        .card.filled.loading
    - active = current_layout.tab == "css"
    li.tab-panel#code-documentation-tab-panel-css class=((active ? "active": ""))
      - if active
        == partial(:"code-documentation/css", :locals => {:current_layout => current_layout})
      - else
        .card.filled.loading
    - active = current_layout.tab == "javascript"
    li.tab-panel#code-documentation-tab-panel-javascript class=((active ? "active": ""))
      - if active
        == partial(:"code-documentation/javascript", :locals => {:current_layout => current_layout})
      - else
        .card.filled.loading

== partial(:footer)
