.card
  h2
    = I18n.t('object-selection.selectObject')

  form.widget-selection name="widget-selection" 
    .card.collapsable.collapsed
      h3
        = I18n.t('object-selection.filters')
      ul.information
        .by-type
          h2
            = I18n.t('object-selection.filter.type')
          p
            input.auto-complete.object-type{:autocomplete => "off",
                                             name         => "type",:
                                             placeholder  => I18n.t('fields.placeholders.filterByType'),:
                                             value        => ""}:
        .by-tag
          h2
            = I18n.t('object-selection.filter.tag')
          p
            input.auto-complete.object-tag{:autocomplete => "off",
                                            name         => "tag",:
                                            placeholder  => I18n.t('fields.placeholders.filterByTag'),:
                                            value        => ""}:
        - if not object.nil?
          .views-type
            h2
              = I18n.t('object-selection.filter.views')
            p
              input.auto-complete.views-type{:name     => "views-type",
                                              disabled => true,:
                                              value    => (!running ? object.info[:type] : "")}:

          .provides
            h2
              = I18n.t('object-selection.filter.provides')
            p
              input.auto-complete.provides-environment{:name     => "provides-environment",
                                                        disabled => true,:
                                                        value    => (running ? object.info[:environment] : "")}:
            p
              input.auto-complete.provides-architecture{:name     => "provides-architecture",
                                                         disabled => true,:
                                                         value    => (running ? object.info[:architecture] : "")}:
    br
    - if defined?(widgetObject) && widgetObject
      input{:type   => :hidden,
             hidden => true,:
             name   => "object-id",:
             value  => widgetObject.id}:
    input.auto-complete{:autocomplete => "off",
                         name         => "name",:
                         placeholder  => I18n.t('fields.placeholders.selectObject'),:
                         value        => (defined?(widgetObject) && widgetObject) ? widgetObject.info[:name] : ""}:
    br
    input.button{:type  => :submit,
                  value => I18n.t('common.attach')}:

  h2
    = I18n.t('object-selection.recentlyUsed')

  - if current_person && current_person.recentlyUsedObjects.any?
    ul.object-list.recently-used
      - current_person.recentlyUsedObjects.each do |object|
        li.object
          h2.large-icon class=object.typeClass 
            #{object.type}
          p
            #{object.name}
          input{:type  => :hidden,
                 name  => "object-id",:
                 value => object.uid}:
          input{:type  => :hidden,
                 name  => "object-revision",:
                 value => object.revision}:
  - elsif current_person
    p
      = I18n.t('common.none')
  - else
    p
      = I18n.t('common.noSession')
