.card.filled.flex
  == header(:id   => :associations,
            :text => I18n.t('people.associations.header'),
            :offscreen => true,
            :help => I18n.t('people.associations.help'))

  ul.tabs.tab-bar
    li.tab.active
      a.icon
        img src='/images/dynamic/hex/e7e7e7/icons/objects/viewer.svg'
        img.active src='/images/dynamic/hex/d7b6d8/icons/objects/viewer.svg'
        img.active src='/images/dynamic/hex/d7b6d8/icons/objects/viewer.svg'
        img src=imageURL("icons/objects/viewer.svg", :hex => current_layout.theme.hexColorFor("tabs.tertiary.inactive.icon"))
        img.hover src=imageURL("icons/objects/viewer.svg", :hex => current_layout.theme.hexColorFor("tabs.tertiary.hover.icon"))
        img.active src=imageURL("icons/objects/viewer.svg", :hex => current_layout.theme.hexColorFor("tabs.tertiary.active.icon"))
        = I18n.t('people.associations.viewer.header')
    li.tab
      a.icon
        img src=imageURL("icons/objects/editor.svg", :hex => current_layout.theme.hexColorFor("tabs.tertiary.inactive.icon"))
        img.hover src=imageURL("icons/objects/editor.svg", :hex => current_layout.theme.hexColorFor("tabs.tertiary.hover.icon"))
        img.active src=imageURL("icons/objects/editor.svg", :hex => current_layout.theme.hexColorFor("tabs.tertiary.active.icon"))
        = I18n.t('people.associations.editor.header')

  ul.tab-panels.filled
    - ["viewer", "editor"].each_with_index do |kind, i|
      li.tab-panel.filled class=(i == 0 ? "active" : "")
        .card.filled.flex.scrollable
          - if person.associations(kind).any?
            == partial(:"people/associations-table", :locals => {:person => person, :kind => kind})
          - else
            .card.none.filled.flex.center-content
              img.none-icon src="/images/ui/no-workset.svg"
              p
                = I18n.t("people.associations.#{kind}.none")
