form.import-object
  .card.filled
    ul.information
      li
        h2
          | UUID or URL
        p
          input type=:text value="" placeholder=("id or url") 

    - object = Occam::Object.new(:id => "70c44134-8614-11e6-b3c6-f23c910a26c8")

  == partial(:"objects/header", :locals => {:object       => object,
                                            :show_actions => false,
                                            :workset      => nil,
                                            :revision     => object.revision})

  .card.filled.min-height
    / Metadata list
    == partial(:"objects/information", :locals => {:object      => object,
                                                   :show_links  => false,
                                                   :embedded    => false,
                                                   :reviewing   => false,
                                                   :workset     => nil,
                                                   :revision    => object.revision})

    h2
      | Dependencies

    ul.information.import-dependencies
      li.object
        h2.type.icon
          | Object
        p.object-name
          | Foo
      li.object
        h2.type.icon
          | Game Foo Bar
        p.object-name
          | Foo
      li.object
        h2.type.icon
          | Game
        p.object-name
          | Foo
      li.object
        h2.type.icon
          | Object
        p.object-name
          | Foo
      li.object
        h2.type.icon
          | Game Foo Bar
        p.object-name
          | Foo
      li.object
        h2.type.icon
          | Game
        p.object-name
          | Foo

  .card.filled
    .submit
      input.button type="submit" value="Import" name=:submit 
