.card.min-height
  == header(:id   => :currentJobs,
            :text => I18n.t('subheaders.currentJobs'))

  - if person.dashboard_runs.any?
    ul.runs-list.centered
      - person.dashboard_runs.take(10).each do |run|
        == partial :"runs/list", :locals => {:run => run}
  - else
    p.centered
      = I18n.t 'common.noJobs'
  p.show-all-runs-link.centered
    a#show-all-runs href="/people/#{current_person.id}/runs"
      = I18n.t 'common.showJobs'
