- if current_person && person.id == current_person.id
  .card
    h2
      = I18n.t 'people.keys.password.header'

    p
      a.modal.edit-password-link href='/people/#{current_person.identity.uri}/password'
        = I18n.t 'people.keys.password.update'

.card.filled
  h2
    = I18n.t 'people.keys.publicKey.header'

  ul.tabs.tab-bar
    li.tab.active
      a
        | SSH
    li.tab
      a
        | PEM

  ul.tab-panels.filled
    li.tab-panel.active
      .card.filled.key
        pre.wrap
          |#{person.publicKey(:format => "OpenSSH")}

    li.tab-panel
      .card.filled.key
        pre
          |#{person.publicKey}

.card.filled
  h2
    = I18n.t 'people.keys.verifyKey.header'

  ul.tabs.tab-bar
    li.tab.active
      a
        | SSH
    li.tab
      a
        | PEM

  ul.tab-panels.filled
    li.tab-panel.active
      .card.filled.key
        pre.wrap
          |#{person.verifyKey(:format => "OpenSSH")}

    li.tab-panel
      .card.filled.key
        pre
          |#{person.verifyKey}

.card.filled.flex
