.card.filled.storage
  == header(:offscreen => true,
           :id => :storage,
           :text => I18n.t('subheaders.storage'),
           :help => I18n.t('help.storage'))

  - Occam::System::Storage.list.each do |k, storage|
    - if storage.accountInfo != {}
      h2
        - image = storage.imageURL
        - if image
          img role=:presentation src=image alt=storage.backend 
        - else
          = storage.backend
      - instances = Occam::System::Storage.view(k, current_account)
      - instances.each do |instance|
        form action="/people/#{current_person.id}/storage/#{k}/#{instance.id}" method=:post 
          table
            - if instance.accountInfo.has_key? :oauthAccessToken
              / This is an OAuth authentication
              - if instance.accountInfo[:oauthAccessToken]
                / It has been established... provide a detact button
              - else
                / Provide an authorize account button

            - instance.accountInfo.each do |k2, v|
              - next if [:oauthAccessToken, :oauthAuthToken, :oauthRefreshToken, :oauthCSRFToken, :oauthURL].include?(k2)
              tr
                td
                  = k2
                td
                  - if storage.accountInfo.has_key?(k2)
                    input name=k2 value=v 
                  - else
                    = v
          input.button value="Update" type=:submit name=:update 
        form action="/people/#{current_person.id}/storage/#{k}/#{instance.id}" method=:post 
          input type=:hidden value='delete' name=:_method 
          input.button value="Remove" type=:submit name=:remove 
      form action="/people/#{current_person.id}/storage/#{k}" method=:post 
        table
          - storage.accountInfo.each do |k2, v|
            - next if [:oauthAccessToken, :oauthAuthToken, :oauthRefreshToken, :oauthCSRFToken, :oauthURL].include?(k2)
            tr
              td
                = k2
              td
                input name=k2 value="" 
        - if storage.accountInfo.has_key? :oauthAccessToken
          input.button value="Authorize" type=:submit name=:update 
        - else
          input.button value="Add" type=:submit name=:update 
