- if request.xhr?
  / Modal view
  h1.edit-profile
    img.large-icon.action.edit-profile src="/images/icons/ui/fork.svg" 
    .name id=((request.xhr? ? "modalLabel" : false)) 
      | Edit Profile
    .organization
      | Update your profile information, avatar image, and biography.
  .bar
- else
  == partial :"people/header", :locals => {:person => person}

== partial :errors, :locals => {:errors => errors}

form.modal action="/people/#{person.identity.uri}" method=:post name=:person_edit enctype="multipart/form-data" 
  .card
    label for=:organization 
      | organization
    input type=:text id=:organization name=:organization value=current_person.info[:organization] 
    label for=:name 
      | display name
    input type=:text id=:name name=:name value=current_person.info[:name] 
    label for=:email 
      | email
    input type=:text id=:email name=:email value=current_person.info[:email] 
    label for=:description 
      | bio
    textarea id=:description name=:description 
      = current_person.info[:description]

    label for=:avatar 
      | upload avatar image
    input type=:file name=:avatar 
  .card.filled
    .submit
      input.button type=:submit value=I18n.t('common.update')
