/ This is the details panel that renders citations (bibtex, etc)

/ Locals:
/   object - The Occam::Object being rendered

.card.filled
  == header(:text      => I18n.t('objects.metadata.citation.header'),
            :help      => I18n.t('objects.metadata.citation.help'),
            :id        => :citation)

  ul.tabs.tab-bar
    li.tab
      a data-pjax="true" href=(object.url(:path => "citations/bibtex")) 
        | BibTeX
    li.tab
      a data-pjax="true" href=(object.url(:path => "citations/mla")) 
        | MLA
    li.tab
      a data-pjax="true" href=(object.url(:path => "citations/harvard")) 
        | Harvard

  ul.tab-panels.filled
    li.tab-panel
      == partial(:loading)
    li.tab-panel
      == partial(:loading)
    li.tab-panel
      == partial(:loading)
    li.tab-panel.default
      .card.filled.citation
        p
          = I18n.t('objects.metadata.citation.default')
