/**
 * Styling for the configuration sidebar of the workflow editor and object runner.
 */

.sidebar.configuration {
  .configuration-panel {
    ul.panes {
      position: relative;
      flex: 1 1 auto;
      margin: 0;

      li.pane {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        overflow: visible;

        &.active {
          display: flex;
          flex-direction: column;
        }

        > ul {
          flex: 0 0 auto;
        }

        > .tab-panels {
          position: relative;
          flex: 1 1 auto;

          .tab-panel.active {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;

            > .configuration {
              flex: 1 1 auto;
              overflow: hidden;
              position: relative;

              > .card {
                text-align: left;
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;

                > .configuration-nav {
                  flex: 0 0 auto;
                }

                > .configuration-search-options {
                  flex: 1 1 auto;
                  overflow: auto;
                }
              }
            }

            > .card:last-child {
              flex: 0 0 auto;
            }
          }
        }
      }
    }

    .help {
      overflow: auto;
      margin: 0;
      border-left: none;
      border-right: none;
    }

    .configuration-help {
      display: none;
      flex: 1 1 auto;
      position: relative;
      height: 100%;
      border-top: 1px solid white;
      font: $help-font;

      p {
        padding: 0 10px;
      }

      occam-workflow.mock {
        ul.connections {
          .configure-button {
            @keyframes pulseHighlight {
              0% {
                background-color: white;
              }

              100% {
                background-color: blue;
              }
            }

            animation: 0.8s infinite alternate pulseHighlight;

            &::before {
              filter: brightness(5);
            }
          }
        }
      }
    }

    .help.open ~ .configuration-help {
      border-top: none;
    }

    ul.panes:empty {
      display: none;

      & + .configuration-help {
        display: block;
      }
    }
  }
}
