/**
 * Base rules for the application.
 *
 * Basically, these are defaults for simple elements.
 */

body *:focus {
  outline: none;
}

body:not(.no-javascript) {
  *.no-javascript {
    display: none;
  }
}

pre {
  text-align: left;
  font: $code-font;
  white-space: pre-wrap;
  padding: 0.25rem;

  &.wrap {
    word-break: break-word;
  }
}

p {
  font: $paragraph-font;

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}

input.link,
a {
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  min-width: 0;
  width: auto;
  background: none;
  border: none;
  display: inline-block;
}

ul,
ol {
  li {
    font: $paragraph-font;
  }
}

*[hidden] {
  display: none !important;
  opacity: 0 !important;
}

.sr-only {
  display: none !important;
}

template {
  display: none !important;
}

// By default, iframe (widgets) will have a white background
iframe:not(:root) {
  background-color: white;

  // They should have a white background when fullscreened
  &:-ms-fullscreen,
  &:-webkit-full-screen,
  &:-moz-full-screen,
  &:fullscreen {
    background-color: white;

    &::-ms-backdrop,
    &::-webkit-backdrop,
    &::-moz-backdrop,
    &::backdrop {
      background-color: white;
    }
  }
}

// This is used to cover elements when they need to get pointer events but would
// otherwise consume them. For instance, iframes during drag-and-drop and modals.
.cover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.cover.show,
body.await-blur .cover:not(.hide),
body.dragover .cover:not(.hide) {
  display: block;
}

// Fixes for perfect-scrollbar
.ps__rail-y {
  z-index: 99999;
}
