/**
 * Card styling.
 *
 * Cards are sections of the site that are usually blocks of information.
 *
 * Sometimes, cards are the only section and sometimes that are grids of
 * information.
 *
 * It may make sense to place them in a list or grid or a smaller size or
 * scrollable when at a different device width (like a phone, etc) and
 * different classes can be applied to hint at which behavior is appropriate.
 */

// A basic card holds content
.card {
  text-align: center;
  position: relative;

  > .submit {
    overflow: hidden;
  }

  > p {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    + ul:not(.tabs):not(.tab-panels):not(.card) {
      padding-top: 1rem;
    }

    + h2 {
      padding-top: 1.5rem;
    }

    + p {
      padding-top: 0.5rem;
    }
  }

  > ul:not(.tabs):not(.tab-panels):not(.card) {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    + p {
      padding-top: 1rem;
    }

    + ul:not(.tabs):not(.tab-panels) {
      padding-top: 1rem;
    }

    + h2 {
      padding-top: 1.5rem;
    }

    + h3 {
      padding-top: 1.0rem;
    }
  }

  > p:first-child {
    padding-top: 1rem;
  }

  > input:last-child,
  > ul:last-child:not(.tab-panels):not(.tabs),
  > p:last-child {
    padding-bottom: 1rem;
  }

  // Cards that are in the process of loaded their content
  &.loading {
    min-height: 5rem;
  }

  &.full {
    height: 100%;
  }

  // When the card is empty
  &.none {
    padding: 1rem;

    img.none-icon {
      width: 20rem;
      height: 20rem;
      padding-bottom: 2rem;

      &.small {
        width: 10rem;
        height: 10rem;
        padding-bottom: 1rem;
      }
    }

    > p {
      color: #888;
    }
  }

  // All headers for the card are styled and divide content
  > h2 {
    font: $sub-header-font;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    &:first-child {
      padding-top: 1rem;
    }

    // Offscreen headers are there for screen reader purposes, but are not
    // visible or affect positioning.
    &.offscreen {
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ /* stylelint-disable-line */
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    &.has-help {
      padding-bottom: 0.25rem;

      + .help + * {
        margin-top: 0.25rem;
      }
    }
  }

  // A Flex card holds flexed content
  // A filled card expands within a flexed content
  // Generally, all flex cards are filled cards
  &.flex.filled {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;

    &.center-content {
      justify-content: center;
      align-items: center;
    }

    &.scrollable {
      overflow: auto;
    }

    &.horizontal {
      flex-direction: row;

      &.responsive-fit {
        @media #{$media-fit} {
          flex-direction: column;
        }
      }

      @media #{$media-tablet} {
        flex-direction: column;
      }
    }

    // Headers don't flex, thanks!
    > h2 {
      flex: 0 0 auto;
      overflow: hidden;
    }

    // Tab panels will flex their contents as well
    > ul.tab-panels {
      flex: 1 1 auto;
      display: flex;

      &.card.filled {
        overflow: hidden;
      }

      > li.tab-panel {
        flex: 1 1 auto;
      }
    }

    // "Separator Resizable" cards grow
    > .card.separator-resize {
      flex: 1 1 auto;
    }

    > .card.filled {
      flex: 1 1 auto;
      overflow: auto;
      overflow-x: hidden;
    }

    // All immediate content is flexed
    // It does not grow
    // It has scrollbars when it shrinks
    > *:not(h2):not(.filled):not(.separator-resize):not(.sidebar) {
      flex: 0 0 auto;
    }

    // The last item in the flex content will grow
    > *:last-child:not(h2):not(.filled):not(.separator-resize):not(.sidebar):not(.submit) {
      flex: 1 1 auto;

      // Ensures that weird sizing rules don't leave a gap at the end of the scrollable section.
      // Apparently rem sizing sizes some things very strangely relative to scrollHeight.
      // (This is reset in the theme under base.general.content to color it the same as a card.)
      box-shadow: 0px 2px 0px 2px magenta;
    }
  }

  // Cards that follow have a small gap (tab-panels are an exception)
  // The .content element concerns the background and thus color of this gap
  &:not(.sidebar):not([hidden]) ~ .card:not(.tab-panel) {
    margin-top: 0.125rem;
  }

  > h3 {
    box-sizing: border-box;
    font: $sub-sub-header-font;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 99999;
    margin-top: 0.5rem;

    &:first-child {
      margin-top: 1rem;
    }
  }
}
