/**
 * Styling for any configuration form.
 */

.configuration-search-options {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  position: relative;
  text-align: left;
}

ul.configuration-group {
  width: auto;
  margin-top: 1rem;
  line-height: 1.3em;

  p {
    margin: 0;
    padding: 0;
  }

  > li > h2 {
    border-top: 1px solid #eee;
    margin-top: 0.5rem;
    padding-top: 0.5rem;

    .group-label {
      font: $sub-header-font;
    }

    .expand {
      margin-left: 0.5rem;
    }

    &:hover {
      background: #ddd;
    }

    + ul.configuration-group {
      margin-top: 0.5rem;
    }
  }

  li {
    .dots {
      position: relative;
      z-index: 0;
      top: -1.4rem;
      height: 0.5rem;
      margin-left: 1.5rem;
      margin-right: 14rem;
      border-bottom: 1px dotted #ccf;
      border-left: 1px dotted #ccf;
      clear: both;
      border-bottom-left-radius: 0.5rem;
      margin-bottom: -0.5rem;
    }

    ul:not(.configuration-group) {
      margin-left: 1rem;
      margin-bottom: 0.25rem;
    }

    .description {
      color: #444;
      display: none;
      border-left: 0.25rem solid #ddd;
      margin-left: 0.125rem;
      padding-left: 0.75rem;
      padding-right: 1.35rem;
      margin-bottom: 0.75rem;
      padding-top: 0;
      background-color: transparent;
      white-space: normal;

      p {
        // TODO: add to theme
        font-size: 0.75rem;

        + p {
          margin-top: 0.5rem;
        }
      }
    }

    input {
      padding: 0 5px;
      margin: 0;
      position: relative;
      z-index: 1;
      height: 1.5rem;
      width: 13.75rem;
      border: 1px solid #ccc;
      border-radius: 0.0625rem;
      background-color: #fff;
      outline: none;
      margin-bottom: 0.0625rem;
      font: $configuration-input-font;
      box-sizing: border-box;

      &.parsley-error {
        background-color: #f99;
      }

      &:focus {
        outline: none;
      }
    }

    input[data-units] {
      + .units {
        position: absolute;
        pointer-events: none;
        right: 0.25rem;
        color: gray;
        z-index: 9;
        bottom: 0;
        height: calc(1.5rem - 2px);
        box-sizing: border-box;
        font: $configuration-input-font;
      }

      &.parsley-error + .units {
        color: #a54c4c;
      }
    }

    > textarea {
      display: block;
      padding: 0.25rem;
      margin: 0;
      width: 100%;
      resize: vertical;
    }

    span.number {
      float: right;
      position: relative;
      display: inline-block;
      z-index: 1;
    }

    .slider-checkbox {
      position: relative;
      z-index: 1;
      width: 212px;
      display: inline-block;
      float: right;
      height: 1.5rem;

      > input[type=checkbox],
      > input.slider-input {
        position: absolute;
        left: 0;
      }
    }

    /* Parsley errors/validations */
    ul.parsley-errors-list li {
      color: #f44;
      font: $configuration-error-font;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .select {
      display: inline-block;
      float: right;
      border-radius: 0.0625rem;
      position: relative;
      z-index: 1;
      width: 13.75rem;
      height: 1.5rem;
      cursor: pointer;
      border: 1px solid #ccc;
      background: linear-gradient(to bottom, hsl(190, 0%, 95%) 5%, hsl(190, 0%, 90%) 100%);
      background-color: hsl(190, 0%, 40%);
      box-shadow: inset 0 0 1px 1px hsl(190, 60%, 100%);
      box-sizing: border-box;

      select {
        padding: 0;
        padding-left: 0.5rem;
        margin: 0;
        background: transparent;
        border: 0;
        border-radius: 0.125rem;
        -webkit-appearance: none;
        height: calc(1.5rem - 2px);
        width: 13.75rem;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        color: #333;

        &:active {
          outline: none;
        }

        &:focus {
          outline: none;
        }
      }

      &:hover {
        box-shadow: inset 0 0 2px 1px hsl(190, 76%, 52%);
      }

      &:active {
        background: linear-gradient(linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 95%)), color-stop(1, hsl(190, 0%, 90%)));
        background-color: hsl(190, 0%, 40%);
        outline: none;
      }

      &::before {
        pointer-events: none;
        background-image: url(/images/dropdown_arrow.png);
        background-repeat: no-repeat;
        background-position: 0 center;
        position: absolute;
        right: 0;
        display: block;
        content: '';
        width: 17px;
        top: 0;
        bottom: 0;
      }

      ul.parsley-errors-list {
        display: none;
      }
    }

    > label {
      margin: 0;
      margin-left: 0.0625rem;
      position: relative;
      color: hsl(190, 30%, 35%);
      z-index: 1;
      font-family: "Open Sans", sans-serif;
      font-size: 0.8rem;
      display: inline-block;
      padding-bottom: 0.25rem;
      background-color: #fff;

      &.no-description {
        padding-right: 0.25rem;
      }

      + span.expand {
        background-color: #fff;
        color: #aaa;
        cursor: pointer;
        position: relative;
        z-index: 1;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 0.5rem;
        top: 0;
      }
    }

    > div.tuple {
      width: 13.75rem;
      box-sizing: border-box;
      display: inline-block;
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 1;
      float: right;

      span.number {
        float: none;
      }

      input {
        display: inline-block;
        width: 6.75rem;
      }

      .select {
        display: inline-block;
        width: 6.75rem;

        select {
          width: 6.75rem;
        }
      }
    }

    .select.disabled:active,
    .select:disabled:active {
      background: linear-gradient(linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)));
      background-color: hsl(190, 0%, 40%);
    }

    .select.disabled:hover,
    .select:disabled:hover {
      box-shadow: inset 0 0 1px 1px hsl(190, 60%, 100%);
    }
  }
}

/* Navigation bar */
.configuration-nav {
  text-align: left;
  position: relative;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 0.75rem;
  min-height: 1.125rem;

  li.configuration-nav-item {
    display: inline-block;

    &:not(:last-child) {
      border-right: 1px solid #bbb;
      padding-right: 0.25rem;
    }

    &:not(:first-child) {
      padding-left: 0.25rem;
    }

    a {
      font: $configuration-nav-font;
    }
  }

  span.color {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
    display: inline-block;
    background-color: #888;
  }

  a.fork-configuration {
    position: absolute;
    right: 0.35rem;
    top: 0.45rem;
    margin: 0;
    padding: 0.25rem 0.3rem;

    img {
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
    }
  }
}
