/**
 * Styling for forms and inputs throughout the site.
 */

form {
  // For form elements that are intended to contain inline elements.
  // For instance, a form for a dropdown list button.
  &.inline {
    display: inline-block;
  }

  .card.submitting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      width: 100%;
    }
  }

  // For form elements meant to be displayed as a group.
  &.modal {
    label {
      &:not(:first-child) {
        margin-top: 1rem;
      }

      &:not(.checkbox) {
        font: $form-label-font;
        margin-bottom: 0.5rem;
        display: block;
        color: hsl(190, 30%, 35%);

        &:first-child {
          padding-top: 0.5rem;
        }
      }
    }

    input[type=checkbox]:first-child + label {
      margin-top: 0;
    }

    // Typical input fields
    .tagify.tags,
    input[type=text]:not(.auto-complete),
    input[type=password],
    input[type=file],
    select {
      text-align: left;
      width: 32rem;
      margin: 0 auto;
      max-width: calc(100% - 2rem);
      font: $form-input-font;
      box-sizing: border-box;
      border: 1px solid #aaa;
      padding: 0;

      &:not(.tagify) {
        height: 2rem;
        padding: 0.25rem;
      }

      // Shorter fields
      &.short {
        width: 16rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }

      + h2 {
        margin-top: 1rem;
      }
    }

    input.button,
    a.button {
      &:last-child {
        margin-bottom: 1rem;
      }

      + h2 {
        margin-top: 1rem;
      }
    }

    // Text areas
    textarea {
      width: 32rem;
      height: 28rem;
      resize: none;
      max-width: calc(100% - 2rem);
      margin: 0 auto;

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .card.errors {
    margin-top: 0.125rem;
  }
}

form:not(.inline) {
  input[type=submit] {
    min-width: 16rem;

    &.short {
      min-width: 6rem;
    }

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }

  .submit {
    input[type=submit]:last-child {
      margin-bottom: 0.5rem;
    }
  }
}
