/**
 * Styling for the help "bubbles" and such.
 */

.card button.help-bubble,
.card a.help-bubble {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.5rem;
  text-indent: -9999px;
  padding: 0 !important;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  overflow: hidden;
  position: absolute;
  bottom: 0.45rem;

  img {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
  }

  img.hover {
    display: none;
  }

  &:hover {
    img {
      display: none;
    }

    img.hover {
      display: block;
    }
  }
}

.card h2.offscreen + button.help-bubble,
.card h2.offscreen + a.help-bubble {
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  z-index: 9999999;

  &.with-sidebar {
    right: 3.5rem;
  }
}

.card .help {
  border: 1px solid red;
  border-top: 3px solid rgb(174, 133, 219);
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  position: relative;
  font: $help-font;
  min-height: 5rem;
  text-align: left;
  opacity: 1;
  -webkit-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 99999;
  white-space: normal;

  @media #{$media-fit} {
    margin-left: 0;
    margin-right: 0;
  }

  > p.help-header {
    position: relative;
    height: 0;
    padding: 0;
    margin-top: 1rem;

    img.icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &.closed {
    border-width: 0;
  }

  &:first-child {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-left: none;
    border-top: none;
    border-right: none;
    overflow: auto;
    flex: 0 0 auto;
  }

  > *:first-child {
    padding-top: 10px;
  }

  > *:last-child {
    padding-bottom: 10px;
  }

  p {
    font: $help-font;
    width: 50rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }

  > li,
  > p li,
  > p {
    font: $help-font;
    padding-left: 3rem;
    padding-right: 1rem;
    text-align: justify;
  }

  > p li,
  > ul li {
    list-style: disc;
    list-style-position: inside;
  }

  ul {
    width: 50rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 3.5rem;
    padding-right: 1rem;
  }

  > ul,
  > p ul {
    margin-top: 1rem;
  }

  * + p {
    margin-top: 1rem;
  }

  .delete {
    background-image: url('/images/dynamic/hex/aaaaaa/remove_item.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 0;
    display: block;
    position: absolute;
    right: 2px;
    top: 0;
    height: 14px;
    width: 14px;
    color: white;
    text-align: center;
    padding: 0;
    line-height: 1rem;
    cursor: pointer;
    vertical-align: top;
    text-indent: -9999px;
    flex: 0 0 auto;

    &:hover {
      filter: brightness(50%);
    }
  }
}

.card .offscreen + button.help-bubble + .help,
.card .offscreen + a.help-bubble + .help {
  margin: 0;
  width: 100%;
  max-width: 100%;
  border-left: none;
  border-top: none;
  border-right: none;
  overflow: auto;
  flex: 0 0 auto;
  z-index: 9999999;
}
