/**
 * Styling for tabs within the site.
 */

ul.tabs {
  list-style: none;
  line-height: 0;
  white-space: nowrap;

  li.dropdown-menu {
    position: absolute;
    right: 2rem;
    left: auto;
    width: 1rem;
    overflow: visible;
    top: 0;
    z-index: 99999;

    &:last-of-type {
      right: 0;
    }

    button.dropdown {
      cursor: pointer;
      padding: 0;
      width: 1rem;
      margin: 0;
      top: 0;
      height: 1.6rem;
      border: none;
      border-left: 1px solid #867387;
      border-right: 1px solid #867387;

      img {
        width: 1rem;
        height: 1rem;
        top: calc(50% - 0.5rem);
        left: 0;
        position: absolute;
      }

      img.hover {
        display: none;
      }

      &:hover img.hover {
        display: block;
      }
    }

    ul.dropdown-menu-options {
      z-index: 99999;

      li {
        display: block;

        button.delete {
          display: none;
        }

        img {
          display: none;
        }

        img.nav {
          display: block;
        }

        img.nav.hover {
          display: none;
        }

        &:hover img.nav.hover {
          display: block;
        }
      }
    }
  }
}

// Main content tabs
span.tabs.card-tabs.documentation,
ul.tabs.card-tabs {
  margin: 0;
  text-align: left;
  display: block;
  position: relative;
  z-index: 99999;
  border-bottom: 2px solid red;

  > span.tab,
  > li.tab {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border-bottom: 2px solid blue;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-bottom: -0.125rem;

    &:first-child {
      border-left: none;
    }

    > a {
      text-decoration: none;
      display: inline-block;
      height: 1.6rem;
      padding: 0.1rem 0.3rem;
      padding-top: 0.05rem;
      font: $tab-font;
      text-align: center;
      line-height: 1.6rem;
      box-sizing: border-box;
    }

    > a:hover {
      text-decoration: none;
    }

    &.active {
      border-left: 1px solid #96659c;
      border-right: 1px solid #96659c;
      z-index: 999;
      border-bottom: 2px solid blue;

      &:first-child {
        border-left: none;
      }

      > a {
        font: $tab-active-font;
        line-height: 1.6rem;
      }

      &:first-child,
      &:hover:first-child {
        margin-left: 0;
      }
    }

    &.sidebar {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 100%;
      border-left: 1px solid #867387;
      box-shadow: 0 0 8px 2px #ebcaec inset;
      box-shadow: 0 0 8px 2px #8c778e inset;
      background: #feefff;
      z-index: 999;

      &.disabled {
        opacity: 0.25;
      }

      > a,
      > button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        text-indent: -9999px;
        text-align: left;
        background-repeat: no-repeat;
        background-position: 0.8rem 50%;
        background-size: 1.4rem;

        img {
          height: 1.25rem;
          width: 1.25rem;
          top: 0.125rem;
          left: 0.4rem;
          position: absolute;
          display: none;

          &.active {
            display: block;
          }
        }

        .arrow {
          width: 0.6rem;
          height: 0.6rem;
          transform: rotate(45deg);
          position: absolute;
          left: -0.35rem;
          top: calc(50% - 0.3rem);
          background: transparent;
          box-sizing: border-box;
          border: 2px solid #867387;
          border-right-color: transparent;
          border-top-color: transparent;

          & + .arrow {
            background: #ba99bb;
            border: none;
            left: calc(-0.35rem + 2px);
            overflow: hidden;

            &::before,
            &::after {
              content: '';
              position: absolute;
              background: blue;
              top: 0;
              left: calc(-0.7rem + 2px);
              width: calc(0.7rem - 2px);
              height: calc(0.7rem - 2px);
            }

            &::after {
              top: 0.6rem;
              left: 0;
            }
          }
        }
      }

      &.reveal {
        box-shadow: none;
        background: white;

        > a,
        > button {
          img {
            display: block;

            &.active {
              display: none;
            }
          }

          .arrow {
            box-shadow: none;

            & + .arrow {
              box-shadow: none;
              background: white;
            }
          }
        }
      }

      & + li.tab {
        margin-left: 0;
      }

      &:first-child {
        position: relative;
        right: auto;
        left: 0;
        z-index: 9999;
        border-left: none;
        border-right: 1px solid #867387;

        > a,
        > button {
          .arrow {
            transform: rotate(-135deg);
            left: auto;
            right: -0.35rem;

            & + .arrow {
              left: auto;
              right: calc(-0.35rem + 2px);

              &::before,
              &::after {
                right: calc(-0.7rem + 2px);
                width: calc(0.7rem - 2px);
                height: calc(0.7rem - 2px);
              }

              &::after {
                left: auto;
                right: 0;
              }
            }
          }
        }

        + li.tab {
          padding-left: 0.35rem;
          border-left: none;
        }
      }
    }
  }

  ~ * ul.tabs.card-tabs {
    z-index: 99999;

    > li.tab {
      &.active {
        border-bottom: 2px solid red;
      }
    }
  }

  &.documentation {
    display: inline-block;
    height: 1.4rem;
    line-height: 1.4rem;

    > .tab {
      height: 1.4rem;
      line-height: 1.4rem;

      > a {
        height: 1.4rem;
        line-height: 1.4rem;
        vertical-align: text-bottom;
      }
    }
  }
}

div.tab-panels,
ul.tab-panels {
  &.card.filled.flex {
    overflow: hidden;
  }

  div.tab-panel,
  form.tab-panel,
  li.tab-panel {
    position: relative;
    display: none;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    &.flex {
      display: none;
    }

    &.filled {
      overflow: hidden;
    }

    &.horizontal {
      flex-direction: row;

      .card:not(.sidebar):not([hidden]) + .card {
        margin-top: 0;
        margin-left: 2px;
      }

      &.responsive-fit {
        @media #{$media-fit} {
          flex-direction: column;

          .card:not(.sidebar):not([hidden]) + .card {
            margin-top: 2px;
            margin-left: 0;
          }
        }
      }

      @media #{$media-tablet} {
        flex-direction: column;
      }
    }

    &.cards {
      margin-bottom: -0.125rem;
    }

    &.default,
    &.active,
    &.active.flex {
      display: flex;
    }

    &.active ~ .default {
      display: none;
    }
  }
}
