- if !defined?(preferredRunner) || preferredRunner.nil?
  - preferredRunner = object

- if !defined?(runners) || runners.nil?
  - runners = []

- if !defined?(build)
  - build = nil

- if !build && object.builds.any?
  - build = object.builds.first
  - build.info(true)

== partial(:"objects/build/show", :locals => {:object => object,
                                              :build  => build,
                                              :task   => build})
