- if !defined?(schema)
  - schema = object.schema

- if !defined?(index)
  - index = 0

- if !defined?(configuration_index)
  - configuration_index = 0

- if !defined?(defaults)
  - defaults = object.data

- if !defined?(data)
  - data = defaults

.card.filled
  ul.configuration-nav
    == render_ranged_nav({}, schema, index, configuration_index)
    /TODO: re-enable configuration forking
    /a.button.modal.fork-configuration href=(object.url(:path => "fork")) alt=("Fork Configuration") title=("Fork Configuration") 
      img src="/images/dynamic/hex/bc9bbd/fork.svg"
  .configuration-search-options
    == render_ranged_form(object.data, schema, {}, object, index, configuration_index)
