- if not defined?(build)
  - build = nil

- basepath = ""
- fileObject = object
- if not defined?(build)
  - build = nil
- if build
  - basepath = "builds/#{build.id}/"
  - fileObject = build

- path = fileObject.path if (not defined?(path) or path.nil?)
- if not fileObject.isGroup?(fileObject.path)
  - path = File.dirname(fileObject.path)

.card.flex.filled.file-list-panel
  ul.tabs.tab-bar
    h2 data-path=(path || "/") data-name=File.basename(path || "/") data-url=object.url(:path => "#{basepath}files#{path || "/"}")
      = I18n.t('objects.files.listing.header') + " " + (path || "/")

  .card.flex.filled.file-listing-container
    == partial(:"objects/filelist", :locals => {:object => object,
                                                :path   => path,
                                                :build  => build,
                                                :links  => true})
