- images = object.info[:images] || []
- if images.any?
  .card.filled.gallery
    .flexbox
      ul.preview
        - images.each_with_index do |image, i|
          li.preview.image id="gallery-image-#{i}" 
            a href=(object.url(:path => "raw/#{image}")) data-lightbox="images-#{object.id}" 
              img src=(object.url(:path => "raw/#{image}")) 
      - if images.count > 1
        ul.thumbs.perfect-scrollbar
          - images.each_with_index do |image, i|
            li.thumb.image id="gallery-image-thumb-#{i}" 
              a href="#gallery-image-#{i}" 
                img src=(object.url(:path => "raw/#{image}")) 
