- if !defined?(reviewing)
  - reviewing = false

- if !defined?(show_links)
  - show_links = true

.card.filled
  h2
    = I18n.t 'subheaders.information'
  .information
    .id
      h2.icon.uuid
        = I18n.t 'subsubheaders.id'
      p
        #{object.id}
    .id
      h2.icon.uuid
        = I18n.t 'subsubheaders.uid'
      p
        #{object.uid}
    .revision
      h2.icon.revision
        = I18n.t 'subsubheaders.revision'
      p
        #{object.revision}
    - if object.ownerUUID != object.id
      - owner = Occam::Object.new(:id => object.ownerUUID, :revision => object.revision, :account => object.account)
      - if owner && owner.info
        .within.object
          h2.object.icon
            = I18n.t 'subsubheaders.within'
          p
            a href="/objects/#{object.ownerUUID}/#{object.revision}" 
              #{owner.info[:type]} #{owner.info[:name]}
    - if object.info.has_key? :clonedFrom
      .clonedFrom
        h2.icon.clonedFrom
          = I18n.t 'subsubheaders.clonedFrom'
        p
          - if object.info[:clonedFrom].is_a? String
            a href="/objects/#{object.info[:clonedFrom]}" 
              #{object.info[:clonedFrom]}
          - else
            - if object.info[:clonedFrom].has_key? :type
              #{object.info[:clonedFrom][:type]}
            - if object.info[:clonedFrom].has_key? :name
              a href="/objects/#{object.info[:clonedFrom][:id]}/#{object.info[:clonedFrom][:revision]}" 
                #{object.info[:clonedFrom][:name]}
            - else
              a href="/objects/#{object.info[:clonedFrom]['id']}/#{object.info[:clonedFrom][:revision]}" 
                #{object.info[:clonedFrom][:id]}
    - if object.info.has_key? :generator
      .generator
        h2.icon.generator
          = I18n.t 'subsubheaders.generator'
        ul
          - if object.info[:generator].is_a? String
            li
              a href="/objects/#{object.info[:generator]}" 
                #{object.info[:generator]}
          - else
            - object.info[:generator].each do |generator|
              li
                - generator_object = Occam::Object.new(generator)
                - if generator
                  - if generator.has_key? :type
                    #{generator[:type]}
                  - if generator.has_key? :name
                    a href=generator_object.url 
                      #{generator[:name]}
                  - else
                    a href=generator_object.url 
                      #{generator[:id]}
    - if object.info.has_key? :configures
      .configuration
        h2.icon.configuration
          = I18n.t 'subsubheaders.configures'
        p
          - configures_object = Occam::Object.where(:uid => object.info[:configures]['id']).first()
          - if configures_object
            a href=configures_object.url 
              #{configures_object.name}
          - else
            #{object.info[:configures]['id']}
    - if object.info.has_key? :views
      .configuration
        h2.icon.configuration
          = I18n.t 'subsubheaders.views'
        ul
          - views = object.info[:views] || []
          - views = [views] if not views.is_a?(Array)
          - views.each do |objectType|
            li
              - if objectType.is_a? Hash
                a href="/search?type=#{objectType[:type]}" 
                  #{objectType[:type]}
                - if objectType.has_key? :subtype
                  | (#{objectType[:subtype]})
              - else
                a href="/search?type=#{objectType}" 
                  #{objectType}
    / TODO: associated objects / binaries
    / TODO: runs binaries (attached to inputs)
    / just f-phreaking list inputs gosh darn it
    - if object.configurators.any?
      .configuration
        h2.icon.configuration
          = I18n.t 'subsubheaders.widgets'
        ul
          - object.configurators.each do |configurator|
            li
              a href="/objects/#{configurator.object_type_safe}/#{configurator.id}" 
                #{configurator.name}
    - if object.info[:provides]
      .provides
        h2.icon.provides
          = I18n.t 'subsubheaders.provides'
        p
          #{object.info[:provides]['environment']}/#{object.info[:provides]['architecture']}

    /.rss-link
      h2.icon.rss-link
        = I18n.t 'subsubheaders.rss-link'
      p
        a href=object.url(:path=>"feed")  RSS
        a.copy href="#" alt=I18n.t('tooltips.copy') title=I18n.t('tooltips.copy') aria-hidden="true" data-url=object.url(:path=>"feed") 
          = I18n.t 'common.copy'

    .other-keys
      h2.icon.rss-link
        = I18n.t 'subsubheaders.other-keys'
      p#old_element
        select.options id="other_att_dropdown" 
          option selected="selected" >Select Attribute
          - object.undefinedKeys.each do |item|
            option name='myopt' id='myopt' value=(item} #{item) 
