- if !defined?(addURL)
  - addURL = nil

- if !defined?(addModal)
  - addModal = false

- if !defined?(removeURL)
  - removeURL = nil

- if !defined?(removeKey)
  - removeKey = nil

- if !defined?(referrerURL)
  - referrerURL = nil

.objects-container
  ul.objects.perfect-scrollbar
    - objects.each_with_index do |subObject, i|
      li.object
        a href=subObject.url(:short => true)
          img.icon src=subObject.iconURL(:hex => current_layout.theme.hexColorFor("header.general.icon"))
          p.type
            = subObject.shortType
          p.name
            = subObject.info[:name]
          - if subObject.info.has_key?(:version)
            p.version
              = subObject.info[:version]
        - if object.canEdit?
          form action=removeURL method=:post
            - if referrerURL
              input type=:hidden name=:referrer value=referrerURL
            - if removeKey
              input type=:hidden name=:"nullify[#{removeKey}(#{i})]" value="on"
              input type=:hidden name=:"data[#{removeKey}(#{i})]" value=""
            button.remove
              img.icon src=imageURL("remove_item.svg", :hex => "ffffff")
    - if addURL && object.canEdit?
      li.object.empty.stuck
        a.empty disabled=true
          img.icon src=imageURL("icons/ui/create.svg", :hex => "dddddd")
          p.name
            | None
        a.add href=addURL class=(addModal ? "modal" : "") data-modal-large=(addModal == :large)
          img.icon src=imageURL("icons/ui/create.svg", :hex => "ffffff")
