- if !defined?("pagination")
  - pagination = nil

.card.flex.filled.objects.outputs
  == header(:id   => :output,
            :text => "Objects",
            :offscreen => true,
            :help => I18n.t('help.searchResults'))
  - if object.generated.empty?
    .none
      .none-icon data-none-category="output" 
      p
        = I18n.t("common.noOutput")
  - else
    == partial(:"objects/listview", :locals => {:sidebarButton   => false,
                                                :sidebarRevealed => false,
                                                :objects         => object.generated.take(20),
                                                :pagination      => pagination})
