li.task-item.object
  a href=object.url target=:_blank 
    .object-header
      img.icon src=object.iconURL 
      .info
        h2.type.object
          = info[:type]
        p.name
          = info[:name]
          - if info[:version]
            span.version
              = info[:version]
      - if info[:summary]
        p.summary
          = info[:summary][0...100]
- if info[:running]
  ol.task-running
    - info[:running].each do |running|
      - running[:objects].each do |item|
        - item.delete(:index)
        == partial(:"objects/task-item", :locals => {:object => Occam::Object.new(**item, :info => item, :status => {}), :info => item})
