h1
  img.large-icon.action.edit-description src=imageURL("icons/ui/facets.svg", :hex => current_layout.theme.hexColorFor("header.general.icon"))
  .name id=((request.xhr? ? "modalLabel" : false)) 
    | Edit Description
  .organization
    | Make changes to this object's markdown description.
.bar

== partial :errors, {:locals => {:errors => errors}}

form.card.filled.flex.transparent.modal action=(object.url(:path => "files/object.json")) method=:post 
  .card.filled.flex.markdown-editor
    ul.tabs.tab-bar
      li.edit.tab.active
        a href="?preview=false" 
          | Edit
      li.preview.tab
        a href="?preview=true" 
          | Preview
    ul.tab-panels
      li.tab-panel.active
        label for="edit-object-description"
          | Content (Markdown)
        textarea#edit-object-description.markdown type="text" name="data[description]" 
          = object.info[:description]
      li.tab-panel.top-details
        .description.markdown-preview
  .card.submit
    .submit
      input type=:hidden name="referrer" value="metadata" 
      input#edit-object-submit.button type="submit" value="Update" name=:submit 
