/ This modal will allow a person to create a new object

h1.create
  img.large-icon.action.create src="/images/icons/ui/create.svg" 
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('headers.create')
  .organization
    = I18n.t('description.create')
.bar

== partial :errors, {:locals => {:errors => errors}}

.card.filled.flex.new-object
  ul.tabs.tab-bar
    li.new-object.tab.active
      a.icon href="#general" 
        img src=imageURL("icons/list-view.svg", :hex => current_theme.hexColorFor("tabs.tertiary.inactive.icon"))
        img.hover src=imageURL("icons/list-view.svg", :hex => current_theme.hexColorFor("tabs.tertiary.hover.icon"))
        img.active src=imageURL("icons/list-view.svg", :hex => current_theme.hexColorFor("tabs.tertiary.active.icon"))
        | General
    /li.new-object.tab
      a.icon href="#template" 
        img src=imageURL("fork.svg", :hex => current_theme.hexColorFor("tabs.tertiary.inactive.icon"))
        img.hover src=imageURL("fork.svg", :hex => current_theme.hexColorFor("tabs.tertiary.hover.icon"))
        img.active src=imageURL("fork.svg", :hex => current_theme.hexColorFor("tabs.tertiary.active.icon"))
        | Template
  ul.tab-panels.flex.filled
    li.tab-panel.new-object.active.flex.filled
      form.modal.new-object action="/people/#{current_person.identity.uri}/collection" method=:post name=:create
        .card.filled.full
          label for="object-template"
            = I18n.t('people.collection.new.template')
          input.auto-complete.object-type autocomplete="off" name="template-type" value="" hidden=true
          input.auto-complete.object-subtype autocomplete="off" name="template-subtype" value="object-template" hidden=true
          input.auto-complete.object#object-template autocomplete="off" name="template" placeholder=I18n.t('people.collection.new.noTemplate') value="" aria-label=I18n.t("people.collection.new.template") data-aria-dropdown-label="Available Templates" data-icon-url=Occam::Object.iconURLFor(:object) title=I18n.t("people.collection.new.template")
          label for="new-object-type"
            = I18n.t('people.collection.new.type')
          input#new-object-type.short.auto-complete.object-type type=:text autocomplete="off" name="type" value="experiment" aria-label=I18n.t("people.collection.new.type") data-aria-dropdown-label="Filtered Types" data-icon-url=Occam::Object.iconURLFor(:experiment) title=I18n.t("people.collection.new.type")
          ul.auto-complete.initial-list hidden=true
            li data-i18n=I18n.t('objectTypes.experiment') data-icon-url=Occam::Object.iconURLFor(:experiment)
              | experiment
            li data-i18n=I18n.t('objectTypes.workset') data-icon-url=Occam::Object.iconURLFor(:workset)
              | workset
          label for="new-object-name"
            = I18n.t('fields.name')
          input#new-object-name.short value="" type=:text placeholder=I18n.t('fields.placeholders.name') name="name" aria-label=I18n.t("people.collection.new.name") title=I18n.t("people.collection.new.name")
        .card.submitting hidden=true
          .new-object-animation
            p
              | Creating object...
            .card.loading
        .card.filled
          .submit
            input.button data-modal-check-errors=true value=I18n.t('people.collection.new.submit') type=:submit name="add"
