h1.qrcode
  img.large-icon.action.qrcode src="/images/icons/ui/qrcode.svg" 
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t 'subsubheaders.qrcode'
  .organization
    = I18n.t 'description.qrcode'
.bar

.card.filled.loading
  img.qrcode.centered src=(object.url(:path => "qrcode")) 
