h1.error-404
  img.large-icon.search src=imageURL("icons/error.svg", :hex => current_theme.hexColorFor("header.general.icon"))
  .name
    = I18n.t('static.404.header')
.bar

.card.filled.markdown
  p
    = I18n.t('static.404.message')

  img src="/images/404.png"

  p
    = I18n.t('static.common.artworkBy')
    a< href="http://zerglingsascats.com/post/60725078024/computer"
      | Jackie Kircher

.card.flex.filled

== partial(:footer)
