h1.credits
  img.large-icon.credits src=imageURL("icons/objects/paper.svg", :hex => current_theme.hexColorFor("header.general.icon"))
  .name
    = I18n.t('static.publications.header')
.bar

- publications = {}

- publications[:papers] = [{:name => "Long-term Preservation of Repeatable Builds in Occam",
                            :venue => "CANOPIE-HPC, SC'19",
                            :summary => "In order to provide transparency, wide availability, and easier reuse of scholarly software, there is a need for greater emphasis on code preservation. Yet, not just mirroring the source code, but preserving the ability to build it. Occam is a tool that offers preservation and distribution using containerization to provide repeatable execution in both building and running software. This paper gives detail about the design of Occam and its potential use within the scholarly community and beyond.",
                            :urls => { #:slides => "",
                                      :pdf => "https://conferences.computer.org/sc19w/2019/pdfs/CANOPIE-HPC2019-7nd7J7oXBlGtzeJIHi79mM/3C6f3GvZm7RX0peusipVJ8/1YBJy1aRhZurJmkf6tnN8q.pdf"},
                            :publisher => "IEEE/ACM"},
                           {:name => "Supporting Thorough Artifact Evaluation with Occam",
                            :venue => "Rescue-HPC 2018, SC'18",
                            :summary => "Efforts such as Artifact Evaluation (AE) have been growing, gradually making software evaluation an integral part of scientific publication. In this paper, we describe how Occam can help to mitigate some of the challenges faced by both authors and reviewers. For authors, Occam provides the means to package their artifacts with enough detail to be used within experiments that can be easily repeated. For the reviewers, Occam provides the means to thoroughly evaluate artifacts by: allowing them to repeat the author’s experiments; providing the ability to modify inputs, parameters, and software to run different experiments.",
                            :urls => {:pdf => "http://rescue-hpc.org/_resources/20181111-occam_rescue-hpc-sc18-workshop-paper.pdf"}},
                           {:name => "Software Provenance: Track the Reality not the Virtual Machine",
                            :venue => "Proceedings of the First International Workshop on Practical Reproducible Evaluation of Computer Systems",
                            :shortVenue => "P-RECS, 2018",
                            :summary => "The growing use of computers and massive storage by individuals is driving interest in digital preservation. The scientific method demands accountability through digital reproducibility, adding another strong motivation for preservation. However, data alone can become obsolete if the interactivity of software required to interpret the data is lost. Virtual machines (VMs) may preserve interactivity however do so at the cost of obscuring the nature of what lies within. Occam, instead, builds VMs on-the-fly while storing and distributing well-described software packages. Thus, the system can track the exact components inside VMs without storing the machines themselves, allowing software to be repeatably built and executed. For Occam to recreate VMs, it needs to know exactly what software was used within. Through this tracking, such software can even be modified and rebuilt. Occam keeps track of all such components in manifests, allowing anybody to know exactly what is in each VM, and the origins of each component.",
                            :url => "https://dl.acm.org/citation.cfm?doid=3214239.3214244",
                            :publisher => "acm",
                            :urls => {:slides => "https://gitlab.com/occam-archive/occam/uploads/0ad6ab0a78dcd8c2158d9459693dd2d0/PRECS_Presentation_Track_the_Reality.pdf",
                                      :pdf => "https://gitlab.com/occam-archive/occam/uploads/18c7e3f666d743bc1453c891fe7935db/software-provenance-track.pdf"}},
                           {:name => "Supporting Long-term Reproducible Software Execution",
                            :venue => "Proceedings of the First International Workshop on Practical Reproducible Evaluation of Computer Systems",
                            :shortVenue => "P-RECS, 2018",
                            :summary => "A recent widespread realization that software experiments are not as easily replicated as once believed brought software execution preservation to the science spotlight. As a result, scientists, institutions, and funding agencies have recently been pushing for the development of methodologies and tools that preserve software artifacts. Despite current efforts, long term reproducibility still eludes us. In this paper, we present the requirements for software execution preservation and discuss how to improve long-term reproducibility in science. In particular, we discuss the reasons why preserving binaries and pre-built execution environments is not enough and why preserving the ability to replicate results is not the same as preserving software for reproducible science. Finally, we show how these requirements are supported by Occam, an open curation framework that fully preserves software and its dependencies from source to execution, promoting transparency, longevity, and re-use. Specifically, Occam provides the ability to automatically deploy workflows in a fully-functional environment that is able to not only run them, but make them easily replicable.",
                            :url => "https://dl.acm.org/citation.cfm?doid=3214239.3214245",
                            :publisher => "acm",
                            :urls => {:slides => "https://gitlab.com/occam-archive/occam/uploads/5a8fa2271f0f4cb5d39c779b01c8e19a/PRECS_Presentation_Supporting_Long-term_Reproducible.pdf",
                                      :pdf => "https://gitlab.com/occam-archive/occam/uploads/0d6e847e0ee747525f0f171d98603212/a6-Oliveira.pdf"}},
                           {:name => "Evaluating Interactive Archives",
                            :venue => "Science Gateways 2017",
                            :summary => "The concept of reproducibility has been the keystone of both ancient and modern scientific methods. In spite of this, digital science has recently been put to task to improve its failing record of repeatable experimentation. A plethora of digital archives have appeared in response, yet the community has not defined the end goal. There exists no means of comparing or evaluating digital archives nor the quality of preserved software, and thus no means of knowing if the tools are valid toward that goal. A metric for evaluating software sustainability is provided and used to define a metric for evaluating and comparing interactive software archives.",
                            :url => "https://figshare.com/articles/Evaluating_Interactive_Archives/5483836",
                            :publisher => "figshare"},
                           {:name => "Active Curation of Artifacts is Changing the Way Digital Libraries will Operate",
                            :venue => "4th Workshop on Sustainable Software for Science: Practice and Experiences",
                            :shortVenue => "WSSSPE4, 2016",
                            :urls => {:slides => "http://wssspe.researchcomputing.org.uk/wp-content/uploads/2016/06/Mon_Childers_paper.pdf",
                                      :pdf => "http://wssspe.researchcomputing.org.uk/wp-content/uploads/2016/06/WSSSPE4_paper_8.pdf"}},
                          ]

- publications[:posters] = [{:name => "Open Curation and Repeatability for Scientific Artifact Evaluation",
                             :venue => "Science Gateways 2017",
                             :url => "https://figshare.com/articles/Open_Curation_and_Repeatability_for_Scientific_Artifact_Evaluation/5483842",
                             :publisher => "figshare"},
                            {:name => "Supporting Long-term Reproducible Software Execution",
                             :venue => "Proceedings of the First International Workshop on Practical Reproducible Evaluation of Computer Systems",
                             :shortVenue => "P-RECS, 2018",
                             :urls => {:pdf => "https://gitlab.com/occam-archive/occam/uploads/8cfa3ff47af9a41f8255caf3aa7d74f7/PRECS_poster_v3.pdf"}},
                            {:name => "Artifact Execution Curation for Repeatability in Artifact Evaluation",
                             :url => "https://figshare.com/articles/Artifact_Execution_Curation_for_Repeatability_in_Artifact_Evaluation/6173972",
                             :publisher => "figshare"}]

- publications[:demos] =   [{:name => "Composing, Reproducing, and Sharing Simulations",
                             :venue => "4th Workshop on Sustainable Software for Science: Practice and Experiences",
                             :shortVenue => "WSSSPE4, 2016",
                             :urls => {:slides => "http://wssspe.researchcomputing.org.uk/wp-content/uploads/2016/06/Mon_Mosse_paper.pdf",
                                       :pdf => "http://wssspe.researchcomputing.org.uk/wp-content/uploads/2016/06/WSSSPE4_paper_33.pdf"}}]

- publications[:tutorials] = [{:name => "Laboratory for Physical Sciences (LPS) Tutorial 2018",
                               :date => "2018-07-31T00:00:00Z",
                               :venue => "University of Maryland, BC"},
                              {:name => "Laboratory for Physical Sciences (LPS) Tutorial, 2017",
                               :date => "2017-07-18T00:00:00Z",
                               :venue => "University of Maryland, BC"},
                              {:name => "Solving and Sharing the Puzzle: Modeling and Simulation of Computer Architectures with SST and OCCAM",
                               :venue => "44th International Symposium on Computer Architecture",
                               :date => "2017-06-24T00:00:00Z",
                               :shortVenue => "ISCA, 2017",
                               :url => "http://isca17.ece.utoronto.ca/doku.php?id=wiki:tutorials"},
                              {:name => "Solving and Sharing the Puzzle: Modeling and Simulation of Computer Architectures with SST and OCCAM",
                               :venue => "The International Conference for High Performance Computing, Networking, Storage and Analysis",
                               :shortVenue => "SC'16",
                               :date => "2016-11-14T00:00:00Z",
                               :url => "http://sc16.supercomputing.org/conference-components/tutorials-sunmon/index.html"},
                              {:name => "Laboratory for Physical Sciences (LPS) Tutorial 2016",
                               :date => "2016-06-23T00:00:00Z",
                               :venue => "University of Pittsburgh"},
                              {:name => "Open Curation for Computer Architecture Modeling",
                               :venue => "42nd International Symposium on Computer Architecture",
                               :shortVenue => "ISCA, 2015",
                               :date => "2015-06-14T00:00:00Z",
                               :url => "https://research.ece.cmu.edu/~calcm/isca2015/workshop_tutorial.php"}]

/- publications = {:papers=>[], :posters=>[], :demos=>[]}

.card.transparent.cards.filled.flex
  - [:papers, :posters, :demos, :tutorials].each do |section|
    .card
      h2
        = I18n.t("static.publications.#{section}")

      ul style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto;"
        - publications[section].each_with_index do |info, i|
          li style=(i != 0 ? "margin-top: 1.5rem;" : "")
            p
              strong.name
                = info[:name]
            - if info[:venue]
              p
                span.venue
                  = info[:venue]
                  - if info[:shortVenue]
                    = " (#{info[:shortVenue]})"
            - if info[:date]
              p
                span.date
                  = I18n.l(Time.iso8601(info[:date]).to_date, :format => :long)
            - if info[:summary]
              p style="margin-top: 0.5rem;"
                = info[:summary]
            ul style="margin-top: 0.25rem;"
              - if info[:publisher] && info[:url]
                li style="display: inline;"
                  p> style="display: inline;"
                    a href=info[:url]
                      = info[:publisher]
              - elsif info[:url]
                li style="display: inline;"
                  p> style="display: inline;"
                    a href=info[:url]
                      | link
              - if info[:urls]
                - (info[:urls] || {}).each do |k, v|
                  li style="display: inline;"
                    p> style="display: inline;"
                      a href=v
                        = k

== partial(:footer)
