/ Purpose: Displays a form to sign in
/
/ Locals:  none

h1.login
  img.large-icon.login src="/images/icons/ui/login.svg" 
  .name
    = I18n.t 'sessions.login.header'
.bar

form.center.modal action="/login" method=:post name=:sessions_login
  == partial :errors, :locals => {:errors => errors}
  .card
    label for=:username 
      = I18n.t "sessions.login.fields.username"
    input type="text" id=:username name=:username
    label for=:password 
      = I18n.t "sessions.login.fields.password"
    input type="password" id=:password name=:password autocomplete="off"
  .card.submitting hidden=true
    .login-animation
      p
        = I18n.t "sessions.login.pending"
      == partial(:loading)
  .card.filled
    .submit
      input#login.button data-modal-check-errors=true type=:submit value=I18n.t('sessions.login.submit') name=:submit
