li.object.details
  a href=object.url
    img src=Occam::Object.iconURLFor(object.info[:type], :subtype => object.info[:subtype])
    p.type
      = object.info[:type]
    p.name
      = object.info[:name]
  .description
    - if object.summary && object.summary != ""
      p
        = object.summary
    .information
      - if object.info[:authors] || object.info[:organization]
        .authors
          h2.authors
            img src=imageURL("icons/metadata/authors.svg", :hex => current_layout.theme.hexColorFor("object.description.icon"))
            span.label
              = I18n.t 'subsubheaders.authors'
          ul
            li.organization
              = object.info[:organization]
      - if object.info.has_key? :environment
        .environment
          h2.environment
            img src=imageURL("icons/metadata/environment.svg", :hex => current_layout.theme.hexColorFor("object.description.icon"))
            span.label
              = I18n.t 'subsubheaders.environment'
          .value
            span
              = object.info[:environment]
              - environmentIconURL = object.environmentIconURL(:hex => "b481bd")
              - if environmentIconURL
                img src=environmentIconURL
      - if object.info.has_key? :architecture
        .architecture
          h2.architecture
            img src=imageURL("icons/metadata/architecture.svg", :hex => current_layout.theme.hexColorFor("object.description.icon"))
            span.label
              = I18n.t 'subsubheaders.architecture'
          .value
            span
              = object.info[:architecture]
